@use '@carbon/react/scss/config';
@use '@carbon/react/scss/spacing' as *;

$story-class: create-tearsheet-narrow--story;

.#{$story-class}__flex-container {
  display: flex;
  align-items: baseline;
}

.#{$story-class}__flex-container .#{config.$prefix}--form-item {
  margin-right: $spacing-04;
}

.#{$story-class}__flex-container .#{config.$prefix}--form-item,
.#{$story-class}__flex-container
  .#{config.$prefix}--dropdown__wrapper.#{config.$prefix}--list-box__wrapper {
  width: 50%;
}
