@import './carbon-settings';

// Feature flags
$css--font-face: true;
$css--plex: true;

// Global styles
@import '@carbon/type/scss/reset';
@import 'carbon-components/scss/globals/scss/css--font-face';
@import 'carbon-components/scss/globals/grid/grid';
$carbon--theme: $carbon--theme--white;

// Carbon components
// @import 'carbon-components/scss/components/breadcrumb/breadcrumb';
@import 'carbon-components/scss/components/button/button';
// @import 'carbon-components/scss/components/data-table/data-table';
@import 'carbon-components/scss/components/link/link';
// @import 'carbon-components/scss/components/pagination/pagination';
@import 'carbon-components/scss/components/tabs/tabs';
@import 'carbon-components/scss/components/ui-shell/ui-shell';

// not yet being pulled in by page header
// @import 'carbon-components/scss/components/tooltip/tooltip';

.carbon-theme--white {
  @include carbon--theme($carbon--theme--white, true);
}

.carbon-theme--g10 {
  @include carbon--theme($carbon--theme--g10, true);
}

.carbon-theme--g90 {
  @include carbon--theme($carbon--theme--g90, true);
}

.carbon-theme--g100 {
  @include carbon--theme($carbon--theme--g100, true);
}
