@import 'carbon';

$pkg-prefix: 'tst';
@import 'carbon-components/scss/components/modal/modal';
@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/dropdown/dropdown';
@import '@carbon/ibm-products/scss/index';

body {
  @include carbon--theme();

  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  min-height: calc(100vh - $spacing-09);
  align-items: center;
  justify-content: center;
}
