@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';

:root {
  @include theme.theme();
}

$pkg-prefix: 'tst';
@import '@carbon/styles/scss/components/modal/modal';
@import '@carbon/styles/scss/components/button/button';
@import '@carbon/styles/scss/components/dropdown/dropdown';
@import '@carbon/ibm-products/scss/index';

.app {
  display: flex;
  min-height: calc(100vh - spacing.$spacing-09);
  align-items: center;
  justify-content: center;
}
