@use '@carbon/react' with (
  $font-path: '@ibm/plex'
);
/* You can @use the css but that does not permit setting of a prefix
* @use '@carbon/ibm-products/css/index';
*
* setting a prefix must happen before other @use of @carbon/ibm-products and in conjunction with
* the equivalent javascript configuration.
* See https://github.com/carbon-design-system/ibm-products/blob/main/packages/ibm-products/README.md#package-prefix */

@use '@carbon/ibm-products/scss' with (
  $pkg-prefix: 'tst'
);
