////
/// Tag wall filter mixins.
/// @group tag-wall-filter
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import '../../globals/namespace/index';

@import '../Tearsheet/TearsheetSmall/variables';

@import './Filter/mixins';

@mixin tag-wall-filter {
  /// Small tearsheet namespace.
  /// @type String
  $tearsheet--small__namespace: get-component-namespace(
    $component-name: tearsheet--small,
  );

  /// Small tearsheet spacing.
  /// @type String
  $tearsheet--small__spacing: $carbon--spacing-05;

  &__tag-wall {
    min-height: $carbon--spacing-06;
    margin-top: $carbon--spacing-04;
    margin-bottom: $carbon--spacing-03;

    &__label {
      color: $text-02;
    }
  }

  &__description {
    overflow: auto;
    max-height: 20vh;
    padding-right: $tearsheet--small__spacing;
  }

  &#{$tearsheet--small__namespace} {
    > #{$tearsheet--small__namespace}__header {
      padding-right: 0;

      > #{$tearsheet--small__namespace}__title {
        margin-right: $tearsheet--small__spacing;
      }
    }

    #{$tearsheet--small__namespace}__content {
      margin-top: $filter__sizing__dimensions;
    }
  }
}
