/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2020 - 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/react/scss/components/button/tokens' as *;
@use '../../../global/styles/project-settings' as c4p-settings;
@use './variables' as *;

.#{$block-class}__table-toolbar > section {
  z-index: 2;
  overflow: visible; // RowSizeDropdown depend on this
}

.#{$block-class}__full-height,
.#{$block-class}__full-height table,
.#{$block-class}__full-height tbody {
  height: 100%;
}

.#{$block-class}__grid-container::-webkit-scrollbar-thumb {
  background-color: $text-placeholder;
}

.#{$block-class}__grid-container table {
  /* Removes additional scroll introduced by Carbon table */
  overflow: hidden;

  &.#{$block-class}__vertical-align-center {
    .#{$block-class}__head {
      .#{c4p-settings.$carbon-prefix}--table-header-label {
        display: flex;
        height: 100%;
        align-items: center;
        color: $text-primary;
      }
      .#{$block-class}__head-select-all.#{$block-class}__checkbox-cell.#{$block-class}__checkbox-cell-sticky-left {
        position: sticky;
        z-index: 1;
        left: 0;
      }
    }

    .#{$block-class}__cell {
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
    }

    td.#{c4p-settings.$carbon-prefix}--table-column-checkbox,
    th.#{c4p-settings.$carbon-prefix}--table-column-checkbox {
      /* stylelint-disable-next-line carbon/layout-token-use */
      padding-top: 0.6875rem;

      &.#{$block-class}__checkbox-cell {
        display: flex;
        align-items: center;
        padding-top: 0;
      }
      &.#{$block-class}__checkbox-cell-sticky-left {
        position: sticky;
        left: 0;
      }
    }

    .#{$block-class}__checkbox-cell {
      th.#{c4p-settings.$carbon-prefix}--table-column-checkbox {
        display: flex;
        height: 100%;
        align-items: center;
        padding-top: 0;
      }
    }

    &.#{$block-class}__variable-row-height {
      &.#{c4p-settings.$carbon-prefix}--data-table--compact,
      &.#{c4p-settings.$carbon-prefix}--data-table--xs {
        .#{$block-class}__cell {
          padding-top: $spacing-01;
          padding-bottom: $spacing-01;
        }
      }

      &.#{c4p-settings.$carbon-prefix}--data-table--short,
      &.#{c4p-settings.$carbon-prefix}--data-table--sm,
      &.#{c4p-settings.$carbon-prefix}--data-table--md {
        .#{$block-class}__cell {
          /* stylelint-disable-next-line carbon/layout-token-use */
          padding-top: rem(7px);
          /* stylelint-disable-next-line carbon/layout-token-use */
          padding-bottom: rem(6px);
        }
      }

      &.#{c4p-settings.$carbon-prefix}--data-table--tall,
      &.#{c4p-settings.$carbon-prefix}--data-table--lg,
      &.#{c4p-settings.$carbon-prefix}--data-table--xl {
        .#{$block-class}__cell {
          padding-top: $spacing-05;
          padding-bottom: $spacing-05;
        }
      }
    }
  }

  &.#{$block-class}__vertical-align-top {
    &.#{c4p-settings.$carbon-prefix}--data-table--tall,
    &.#{c4p-settings.$carbon-prefix}--data-table--lg,
    &.#{c4p-settings.$carbon-prefix}--data-table--xl {
      .#{$block-class}__cell {
        padding-top: $spacing-05;
      }

      .#{c4p-settings.$carbon-prefix}--table-header-label {
        padding-top: $spacing-05;
      }

      .#{c4p-settings.$carbon-prefix}--table-column-checkbox {
        /* stylelint-disable-next-line carbon/layout-token-use */
        padding-top: rem(13px);
      }
    }

    &.#{$block-class}__variable-row-height {
      &.#{c4p-settings.$carbon-prefix}--data-table--tall,
      &.#{c4p-settings.$carbon-prefix}--data-table--lg,
      &.#{c4p-settings.$carbon-prefix}--data-table--xl {
        .#{$block-class}__cell {
          padding-bottom: $spacing-05;
        }

        .#{c4p-settings.$carbon-prefix}--table-header-label {
          padding-bottom: $spacing-05;
        }
      }
    }
  }

  &.#{$block-class}__variable-row-height {
    tr.#{$block-class}__carbon-row {
      height: auto;
    }
  }
}
.#{$block-class}__grid-container::-webkit-scrollbar-thumb {
  background-color: $text-placeholder;
}

.#{$block-class}__grid-container::-webkit-scrollbar {
  width: 6px;
  background-color: $background;
}
.#{$block-class}__grid-container {
  display: block;
  width: 100%;
  padding-top: 0;

  .#{c4p-settings.$carbon-prefix}--data-table-content {
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }

  table.#{$block-class}__table-simple {
    display: flex;
    overflow: auto;
    max-height: 100%;
    flex-direction: column;
    background-color: $layer-01;
  }

  .#{$block-class}__head {
    display: flex;
  }

  .#{$block-class}__head .header {
    /* Each cell should grow equally */
    width: 1%;
    align-items: center;
  }

  .#{$block-class}__virtual-scrollbar {
    //makes thin scrollbar in chrome and firefox
    scrollbar-width: thin;
  }

  .#{$block-class}__virtual-scrollbar::-webkit-scrollbar-thumb {
    background-color: $text-placeholder;
  }

  .#{$block-class}__virtual-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: $background;
  }

  .#{$block-class}__cell {
    display: flex;
    /* Each cell should grow equally */
    width: 1%;
  }

  .#{$block-class}__defaultStringRenderer {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .#{$block-class}__defaultStringRenderer.#{$block-class}__defaultStringRenderer--multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: initial;
  }

  .#{$block-class}__expanded-row {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .#{$block-class}__carbon-row {
    /* stylelint-disable-next-line declaration-no-important */
    flex: none !important;

    .#{$block-class}__carbon-row:hover a {
      /* stylelint-disable-next-line declaration-no-important */
      color: $link-primary-hover !important;
    }
  }

  .#{c4p-settings.$carbon-prefix}--select-input {
    -webkit-appearance: none; // could be fixed by post-css plugin
  }

  th.#{c4p-settings.$carbon-prefix}--table-column-checkbox {
    display: block;
  }

  td.#{c4p-settings.$carbon-prefix}--table-column-checkbox,
  th.#{c4p-settings.$carbon-prefix}--table-column-checkbox {
    /* stylelint-disable-next-line declaration-no-important */
    padding-right: $spacing-06 !important;
  }
}

.#{$block-class}__empty-state .#{$block-class}__table-simple {
  display: table;
  height: 100%;

  .#{c4p-settings.$pkg-prefix}--empty-state {
    max-width: 280px;
  }
}

.#{$block-class}__empty-state .#{$block-class}__table-simple tr:hover {
  background: transparent;
}

.#{$block-class}__empty-state .#{$block-class}__table-simple tr:hover td {
  background: transparent;
}

.#{$block-class}__empty-state .#{$block-class}__table-simple td {
  padding: $spacing-11;
}

.#{$block-class}__empty-state .#{$block-class}__grid-container {
  flex: 1 1 auto;
}

.#{$block-class}__resizer {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: inline-block;
  width: $spacing-02;
  height: 100%;
  background: transparent;
  touch-action: none;
  transform: translateX(50%);
}

.#{$block-class}__resizer:hover {
  background: transparent;
}

.#{$block-class}__sortableColumn:hover {
  background-color: $background-selected-hover;
}

.#{$block-class}__resizableColumn {
  &.#{$block-class}__isResizing {
    .#{$block-class}__resizer {
      border-right: $spacing-01 solid $button-secondary-hover;
    }
  }

  &.#{$block-class}__isSorted {
    background-color: $background-selected-hover;
  }
}

.#{$block-class}__resizableColumn:hover {
  background-color: $background-selected-hover;
  .#{$block-class}__resizer {
    border-right: $spacing-01 solid $border-strong-01;
    background-color: $background-selected-hover;
  }
}

.#{$block-class}__head-hidden-select-all {
  padding-right: $spacing-08;
  &.#{$block-class}__select-all-sticky-left {
    position: sticky;
    z-index: 1;
    left: 0;
    background-color: $layer-accent-01;
  }
}

.#{$block-class}__simple-body {
  position: relative;
  display: table;
  overflow-x: hidden;
  overflow-y: auto;
  //makes thin scrollbar in chrome and firefox
  scrollbar-width: thin;
}

.#{$block-class}__simple-body::-webkit-scrollbar-thumb {
  background-color: $text-placeholder;
}

.#{$block-class}__simple-body::-webkit-scrollbar {
  width: 6px;
  background-color: $background;
}

.#{$block-class}__sticky.#{$block-class}__table-simple {
  /* stylelint-disable-next-line declaration-no-important */
  min-width: 0 !important;
}

.#{$block-class}__sticky.#{$block-class}__simple-body {
  overflow: auto;
}

.#{$block-class}__sticky.#{$block-class}__table-simple thead > div {
  overflow: hidden;
  /* stylelint-disable-next-line declaration-no-important */
  width: 100% !important;
}

.#{$block-class}__displayFlex {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.#{$block-class}__datagridLeftPanel {
  display: flex;
  width: 388px; // as per UX specs.
  background-color: $layer-01;
}

.#{$block-class}__leftPanel-position {
  display: inherit;
}

.#{$block-class}__datagridWithPanel {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .#{$block-class}__grid-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .#{$block-class}__table-toolbar {
    width: 100%;
  }

  .#{$block-class}__datagridLeftPanel {
    flex: 0 0 auto;
  }

  .#{c4p-settings.$carbon-prefix}--data-table-content {
    flex: 1 1 0%;
  }
  .#{$block-class}__table-container {
    overflow: hidden;
  }
}

.#{$block-class}__table-container {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  max-height: 100%;
}

.#{$block-class}__carbon-row-expanded {
  position: relative;
  &.#{$block-class}__carbon-row-expanded-hover-active::before {
    position: absolute;
    z-index: 2;
    /* stylelint-disable-next-line carbon/layout-token-use */
    top: var(--#{$block-class}--row-height);
    /* stylelint-disable-next-line carbon/layout-token-use */
    left: calc(
      var(--#{$block-class}--indicator-offset-amount) + #{$spacing-05}
    );
    width: 1px;
    height: var(--#{$block-class}--indicator-height);
    border-left: 1px solid $background-brand;
    content: '';
  }
}

.#{$block-class} .#{c4p-settings.$carbon-prefix}--data-table-header {
  background: transparent;
}

.#{$block-class}__dense-header {
  display: flex;
  flex-wrap: wrap;

  .#{c4p-settings.$carbon-prefix}--data-table-header {
    flex: 1 1 auto;
    padding-bottom: $spacing-05;
  }

  .#{$block-class}__table-toolbar {
    flex: 0 0 auto;
  }
  .#{c4p-settings.$carbon-prefix}--table-toolbar {
    background: transparent;
  }

  .#{c4p-settings.$carbon-prefix}__table-container {
    flex: 1 1 100%;
  }

  .#{c4p-settings.$carbon-prefix}--table-toolbar {
    padding-top: $spacing-07;
  }

  .#{$block-class}__toolbar-divider {
    position: relative;
  }

  .#{$block-class}__toolbar-divider::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: $spacing-05;
    border-left: 1px solid $border-subtle-01;
    content: '';
    transform: translateY(-50%);
  }
}

.#{$block-class}
  .#{c4p-settings.$carbon-prefix}--data-table--selected:not(.#{$block-class}__active-row) {
  position: relative;
}

.#{$block-class}
  .#{c4p-settings.$carbon-prefix}--data-table--selected:not(.#{$block-class}__active-row)::before {
  position: absolute;
  top: 0;
  left: 0;
  width: $spacing-02;
  height: 100%;
  background-color: $background-brand;
  content: '';
}

.#{c4p-settings.$pkg-prefix}--datagrid__table-toolbar
  .#{c4p-settings.$carbon-prefix}--batch-summary__para {
  white-space: nowrap;
}

.#{c4p-settings.$pkg-prefix}--datagrid__table-toolbar
  .#{c4p-settings.$carbon-prefix}--batch-actions
  .#{c4p-settings.$carbon-prefix}--batch-actions--active {
  overflow-x: hidden;
}

.#{c4p-settings.$pkg-prefix}--datagrid__table-toolbar
  .#{c4p-settings.$pkg-prefix}--datagrid__button-menu--icon-only.#{c4p-settings.$pkg-prefix}--button-menu {
  display: flex;
  min-width: $spacing-08;
  justify-content: center;
  margin-right: $spacing-04;
}

.#{c4p-settings.$pkg-prefix}--datagrid__table-toolbar
  .#{c4p-settings.$pkg-prefix}--datagrid__button-menu {
  min-width: calc(#{$spacing-12} + #{$spacing-03});
}

.#{c4p-settings.$pkg-prefix}--datagrid__table-toolbar
  .#{c4p-settings.$pkg-prefix}--datagrid__button-menu--icon-only.#{c4p-settings.$pkg-prefix}--button-menu
  .#{c4p-settings.$pkg-prefix}--button-menu__trigger {
  display: flex;
  width: 100%;
  min-width: $spacing-09;
  justify-content: center;
  padding: 0;
  margin: 0;
  .#{c4p-settings.$carbon-prefix}--btn__icon {
    margin: 0;
  }
}

.#{$block-class} .#{c4p-settings.$pkg-prefix}--button-menu {
  height: $spacing-09;
}

.#{$block-class} .#{$block-class}__row-size-button {
  display: flex;
  width: $spacing-09;
  height: $spacing-09;
  justify-content: center;
}

.#{$block-class}__customize-columns-checkbox-wrapper.#{c4p-settings.$carbon-prefix}--form-item {
  flex: 0 0 auto;
  margin-right: $spacing-03;
}

.#{$block-class}__virtual-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

.#{$block-class}__virtual-scrollbar::-webkit-scrollbar-track {
  background: $layer;
}

.#{$block-class}__virtual-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.#{$block-class}__virtualScrollContainer {
  width: 100%;
}

.#{c4p-settings.$carbon-prefix}--body--with-modal-open
  .#{$block-class}__grid-container {
  overflow: hidden;
  height: 100vh;
}

.#{$block-class} .#{c4p-settings.$carbon-prefix}--modal {
  width: 100%;
}

.#{c4p-settings.$carbon-prefix}--overflow-menu.#{$block-class}__toolbar-menu__trigger {
  flex-shrink: 0;
  background-color: $interactive;
}

.#{c4p-settings.$carbon-prefix}--overflow-menu.#{$block-class}__toolbar-menu__trigger
  svg {
  fill: $background;
}

.#{c4p-settings.$carbon-prefix}--overflow-menu.#{$block-class}__toolbar-menu__trigger:hover,
.#{c4p-settings.$carbon-prefix}--overflow-menu.#{$block-class}__toolbar-menu__trigger.#{c4p-settings.$carbon-prefix}--overflow-menu--open:hover,
.#{c4p-settings.$carbon-prefix}--overflow-menu.#{$block-class}__toolbar-menu__trigger.#{c4p-settings.$carbon-prefix}--overflow-menu--open {
  background-color: $button-primary-hover;
}

.#{$block-class}__toolbar-options.#{c4p-settings.$carbon-prefix}--overflow-menu-options::after {
  background-color: transparent;
}

.#{$block-class}__mobile-toolbar-modal
  .#{c4p-settings.$carbon-prefix}--modal-container {
  position: absolute;
}
