/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../../../global/styles/project-settings';
@import './variables';

$row-heights: (
  xs: 1.5rem,
  sm: 2rem,
  md: 2.5rem,
  lg: 3rem,
  xl: 4rem,
);

@each $size, $size-value in $row-heights {
  .#{$block-class}
    .#{$block-class}__inline-edit--select.#{$block-class}__inline-edit--select-#{$size} {
    height: $size-value;
  }
  .#{$block-class}
    .#{$block-class}__inline-edit--select.#{$block-class}__inline-edit--select-#{$size}.#{$carbon-prefix}--list-box {
    max-height: none;
  }
}

.#{$block-class}__inline-edit--select
  .#{$block-class}__inline-edit--select-item {
  padding-bottom: $spacing-05;
  padding-left: $spacing-05;
}

.#{$block-class}__inline-edit--select.#{$carbon-prefix}--dropdown {
  width: inherit;
  height: $spacing-09; // default row height
  max-height: none;
}

.#{$block-class}__inline-edit--select,
.#{$block-class}__inline-edit-cell {
  margin-left: calc(-1 * #{$spacing-05});
}

.#{$block-class}__inline-edit-cell {
  display: flex;
  height: 100%;
  align-items: center;
}

.#{$block-class}__inline-edit-cell:hover {
  background-color: $active-ui;
}

.#{$block-class} .#{$pkg-prefix}--inline-edit__after-input-elements {
  display: flex;
  align-items: center;
}
