/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use './variables';

.#{variables.$block-class}__right-sticky-column-cell {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  right: 0;
  display: flex;
  align-items: center;
  border-left: 1px solid $layer-accent-01;
}

.#{variables.$block-class}__right-sticky-column-header {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  right: 0;
}

.#{variables.$block-class}__left-sticky-column-cell {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  left: 0;
  display: flex;
  align-items: center;
  border-right: 1px solid $layer-accent-01;
}

.#{variables.$block-class}__left-sticky-column-header {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  z-index: 1;
  left: 0;
}

.#{variables.$block-class}__left-sticky-column-cell.#{variables.$block-class}__left-sticky-column-cell--with-extra-select-column,
.#{variables.$block-class}__left-sticky-column-header.#{variables.$block-class}__left-sticky-column-header--with-extra-select-column {
  left: $spacing-08;
}

.#{variables.$block-class}__sticky-noShadow {
  box-shadow: none;
}

.#{variables.$block-class}__sticky-column-noShadow {
  .#{variables.$block-class}__right-sticky-column-cell {
    box-shadow: none;
  }
}

.#{variables.$block-class}__right-sticky-column-offset-scroll {
  /* stylelint-disable-next-line */
  right: 6px !important; // offset the vertical scroll bar in the table body
}
