/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '../../../global/styles/project-settings' as c4p-settings;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use './variables';

@mixin shared-pseudo-styles() {
  height: 1px;
  background-color: $layer-accent;
  content: '';
}

.#{variables.$block-class} .#{variables.$block-class}__expanded-row-content {
  position: relative;
  padding: $spacing-05 $spacing-05 $spacing-06 $spacing-09;
}

.#{variables.$block-class}
  .#{variables.$block-class}__expanded-row-content::before {
  position: absolute;
  /* stylelint-disable-next-line carbon/layout-token-use */
  top: -1px;
  right: 0;
  width: calc(100% - #{$spacing-09});
  @include shared-pseudo-styles();
}

.#{variables.$block-class}
  .#{variables.$block-class}__expanded-row-content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include shared-pseudo-styles();
}

.#{variables.$block-class}__carbon-row.#{variables.$block-class}__carbon-row-expandable
  .#{variables.$block-class}__cell.#{variables.$block-class}__expandable-row-cell {
  padding: $spacing-03;
  padding-right: 0;
}

.#{variables.$block-class}__row-expander.#{c4p-settings.$carbon-prefix}--btn {
  display: flex;
  width: $spacing-07;
  height: $spacing-07;
  min-height: $spacing-07;
  justify-content: center;
  padding: 0;
  .#{variables.$block-class}__row-expander--icon {
    fill: $layer-selected-inverse;
  }
}
