/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/theme' as *;
@use './variables';

.#{variables.$block-class}__grid-container {
  th.#{variables.$block-class}__select-all-toggle-on,
  td.#{variables.$block-class}__select-all-toggle-on {
    /* stylelint-disable-next-line declaration-no-important */
    width: 4.5rem !important;
    /* stylelint-disable-next-line declaration-no-important */
    min-width: initial !important;
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

th.#{variables.$block-class}__select-all-toggle-on {
  display: flex;
  align-items: center;
  justify-content: center;
}

th.#{variables.$block-class}__select-all-toggle-on.button {
  margin-left: $spacing-01;
}
