/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/theme';
@use './variables';

.#{variables.$block-class}__actions-column-cell {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.#{variables.$block-class}__actions-column-content {
  display: flex;
  justify-content: center;
}

.#{variables.$block-class}__actions-column-loading {
  margin-bottom: $spacing-03;
}

<<<<<<< HEAD
.#{variables.$block-class}
  .#{variables.$block-class}__disabled-row-action-button {
  cursor: not-allowed;
}

.#{variables.$block-class} .#{variables.$block-class}__disabled-row-action {
  pointer-events: none;
}

.#{variables.$block-class} .#{variables.$block-class}__disabled-row-action svg {
  fill: theme.$layer-selected-disabled;
=======
.#{$block-class} .#{$block-class}__disabled-row-action-button {
  cursor: not-allowed;
}

.#{$block-class} .#{$block-class}__disabled-row-action {
  pointer-events: none;
}

.#{$block-class} .#{$block-class}__disabled-row-action svg {
  fill: $disabled-03;
>>>>>>> 05ee7cdcf736a836aafbb7b74e11211b4a5787c8
}
