/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import './variables';

.#{$block-class}__right-sticky-column-cell {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  right: 0;
  display: flex;
  align-items: center;
  border-left: 1px solid $active-light-ui;
}

.#{$block-class}__right-sticky-column-header {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  right: 0;
}

.#{$block-class}__left-sticky-column-header {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  z-index: 1;
  left: 0;
}

td.#{$block-class}__left-sticky-column--sticky-border {
  border-right: 1px solid $active-light-ui;
}

.#{$block-class}__left-sticky-column {
  /* stylelint-disable-next-line declaration-no-important */
  position: sticky !important;
  z-index: 1;
  left: 0;
  align-items: center;
  display: flex;
}

td.#{$block-class}__checkbox-cell {
  border-left: 1px solid $ui-03;
}

.#{$block-class}__checkbox-cell .#{$carbon-prefix}--checkbox-label::before {
  margin-left: 0;
  margin-right: 0;
}

.#{$block-class}__left-sticky-column {
  &.#{$block-class}__head-select-all,
  &.#{$block-class}__extra-select-column {
    left: $spacing-09;
  }
}

.#{$block-class}__left-sticky-column
  + .#{$block-class}__checkbox-cell
  + .#{$block-class}__left-sticky-column {
  left: $spacing-12;
}

.#{$block-class}__sticky-noShadow {
  box-shadow: none;
}

.#{$block-class}__sticky-column-noShadow {
  .#{$block-class}__right-sticky-column-cell {
    box-shadow: none;
  }
}

.#{$block-class}__right-sticky-column-offset-scroll {
  /* stylelint-disable-next-line */
  right: 6px !important; // offset the vertical scroll bar in the table body
}

.#{$block-class}__select-all-toggle-on.#{$block-class}__select-all-sticky-left {
  position: sticky;
  z-index: 1;
  left: 0;
}
