/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2020 - 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '@carbon/styles/scss/theme' as *;
@use '../../../global/styles/project-settings' as c4p-settings;
@use '@carbon/styles/scss/motion' as *;
@use './variables' as *;

.#{c4p-settings.$carbon-prefix}--data-table
  tr.#{$block-class}__carbon-nested-row {
  border-left: 1px solid transparent;

  .#{$block-class}__cell {
    border-bottom: 1px solid $layer-accent-01;
  }
}

.#{$block-class} .#{$block-class}__expander-icon {
  transition: transform $duration-fast-01 motion('standard', 'productive');
}

.#{$block-class} .#{$block-class}__expander-icon--open {
  transform: rotate(90deg);
}

.#{$block-class}__expanded-row
  .#{$block-class}__carbon-row-expanded
  td:first-child {
  border-bottom: none;
}

.#{$block-class} .#{$block-class}__carbon-row-expandable {
  position: relative;
}

.#{$block-class}
  tr.#{$block-class}__carbon-nested-row
  + :not(tr.#{$block-class}__carbon-nested-row)::before {
  position: absolute;
  /* stylelint-disable-next-line carbon/layout-token-use */
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $border-subtle;
  content: '';
}
