/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import './variables';

@mixin shared-pseudo-styles() {
  height: 1px;
  background-color: $ui-03;
  content: '';
}

.#{$block-class} .#{$block-class}__expanded-row-content {
  position: relative;
  padding: $spacing-05 $spacing-05 $spacing-06 $spacing-09;
}

.#{$block-class} .#{$block-class}__expanded-row-content::before {
  position: absolute;
  /* stylelint-disable-next-line carbon/layout-token-use */
  top: -1px;
  right: 0;
  width: calc(100% - #{$spacing-09});
  @include shared-pseudo-styles();
}

.#{$block-class} .#{$block-class}__expanded-row-content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include shared-pseudo-styles();
}
