@import './carbon';

// $pkg-prefix: 'txt' !default;
@import './ibm-cloud-and-cognitive';

body {
  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  justify-content: flex-end;
}

.app .main--content {
  display: flex;
  width: 100%;
  height: calc(100vh - 3rem);
  align-items: center;
  justify-content: center;
  margin-top: $spacing-09;
}
