@use "@carbon/react/scss/theme";

:root {
  @include theme.theme();
}

.app {
  display: flex;
  // app should have no horizontal scroll bar, this should be in content area
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
}
