@import 'carbon';

body {
  @include carbon--theme();

  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  // app should have no horizontal scroll bar, this should be in content area
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
}
