/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2020
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import './variables';

// used for tables within a expandable row
.#{block-class}__expanded-row .#{$carbon-prefix}--data-table-container {
  width: calc(100% - #{$layout-03});
  border-left: 2px solid $interactive-01;
  margin-left: $layout-03;
  overflow-x: hidden;

  tr.#{$block-class}__carbon-nested-row {
    border-left: none;
  }
}

.#{block-class}__expanded-row .#{$carbon-prefix}--data-table-container th {
  padding-top: 0;
  padding-bottom: 0;
  border-top-color: $ui-03;
  background-color: $ui-03;
}
