@import 'carbon';

body {
  @include carbon--theme();

  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding-top: $spacing-07;
}
