@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";

:root {
  @include theme.theme();
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding-top: spacing.$spacing-07;
}
