////
/// Loading message.
/// @group loading-message
/// @copyright IBM Security 2020 - 2021
////

@import '@carbon/layout/scss/spacing';

@import '../../Component/mixins';

@include security--component($name: loading-message) {
  display: flex;
  align-items: center;

  &__loading {
    margin-right: $carbon--spacing-03;
  }
}
