@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';

:root {
  @include theme.theme();
}

.app {
  display: flex;
  min-height: calc(100vh - spacing.$spacing-09);
  align-items: center;
  justify-content: center;
  padding: spacing.$spacing-09;
}
