////
/// Decorator mixins.
/// @group decorator
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/font-family';
@import '@carbon/type/scss/styles';

@import 'carbon-components/scss/globals/scss/helper-mixins';

@import '../../globals/motion/index';

@mixin security--decorator__padding($decorator__spacing__padding) {
  &__icon {
    padding-left: $decorator__spacing__padding;
  }

  &__type,
  &__value {
    padding-right: $decorator__spacing__padding;
    padding-left: $decorator__spacing__padding;
  }
}

@mixin decorator {
  $root: &;

  /// Height.
  /// @type Length
  $data-decorator__sizing__height: carbon--mini-units(
    $count: 3.25,
  );

  @include carbon--type-style($name: body-short-01);
  @include security--decorator__padding(
    $decorator__spacing__padding: $carbon--spacing-03
  );

  display: inline-flex;
  max-width: 100%;
  height: $data-decorator__sizing__height;
  box-sizing: border-box;
  padding: unset;
  border: unset;
  background-color: $hover-ui;
  color: $text-02;
  font-family: carbon--font-family($name: sans);
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;

  #{$root}--interactive:not(&--active) {
    #{$root}__type {
      color: $text-02;
    }

    #{$root}__value {
      color: $hover-primary-text;
    }

    &:visited #{$root}__value {
      color: $visited-link;
    }
  }

  &#{$root}--interactive {
    &:hover {
      background-color: $active-ui;
      cursor: pointer;
    }

    &:focus {
      @include focus-outline('outline');
    }

    &:active,
    &:focus,
    &:hover,
    &:focus:active {
      box-shadow: none;
      text-decoration: none;

      #{$root}__value {
        text-decoration: underline;
      }
    }
  }

  &#{$root}--active,
  &#{$root}--active:hover,
  &#{$root}:focus:active {
    background-color: $ui-05;
    color: $active-ui;
  }

  &#{$root}--active:focus {
    @include focus-outline('outline');

    outline-color: $inverse-focus-ui;
  }

  &__icon,
  &__type,
  &__value {
    display: inherit;
    height: inherit;
    align-items: center;
    transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: $timing-function;
  }

  &#{$root}--inline {
    /// Inline height.
    /// @type Length
    $data-decorator--inline__sizing__height: carbon--mini-units(
      $count: 2.5,
    );

    @include carbon--type-style($name: caption-01);

    height: $data-decorator--inline__sizing__height;
    vertical-align: middle;

    > #{$root} {
      @include security--decorator__padding(
        $decorator__spacing__padding: $carbon--spacing-02
      );

      &__type,
      &__value {
        line-height: $data-decorator--inline__sizing__height;
      }
    }
  }

  &--unknown #{$root}__icon,
  &__icon--unknown {
    fill: $icon-02;
  }

  &--low #{$root}__icon,
  &__icon--low {
    fill: $support-03;
  }

  &--medium #{$root}__icon,
  &__icon--medium {
    fill: $carbon--orange-40;
  }

  &__icon--high,
  &__icon--critical {
    fill: $support-01;
  }

  &--high,
  &--critical {
    #{$root}__icon {
      fill: $support-01;
    }

    &--active,
    &:focus:active {
      #{$root}__icon {
        fill: $hover-danger;
      }
    }
  }

  &__type {
    border-right: 1px solid $ui-01;
    white-space: nowrap;
  }

  &--active &__type {
    border-right: 1px solid $ui-04;
  }

  &__value {
    @include text-overflow;

    max-width: 30ch;
    line-height: $data-decorator__sizing__height;
  }
}
