//cspell: disable
# Build folders
/build
packages/*/build/
packages/*/examples/*/build/
es
lib
dist
umd
examples

node_modules
packages/*/examples/*

**/node_modules/**

# Sketch
*.sketchplugin

# Upgrade
**/__testfixtures__/**

# React
**/storybook-static/**
