//cspell: disable
# Build folders
/build
packages/*/build/
packages/*/examples/*/build/
es
lib
dist
umd
examples

node_modules
packages/*/examples/*

**/node_modules/**

# Sketch
*.sketchplugin

# Upgrade
**/__testfixtures__/**

# React
**/storybook-static/**

# Ignore template files
packages/ibm-products/scripts/generate/templates/**/*.js*
scripts/example-gallery-builder/update-example/**/*.js*
