.avt
.playwright
.vscode
.yarn
build
dist
es
examples
lib
scripts
storybook-static
umd

# Managed by Lerna - https://github.com/lerna/lerna/tree/main/commands/version#--conventional-commits
CHANGELOG.md

# specific files
telemetry.yml
welcome-lottie.json
# prettier + mdx + lit = wonky formatting
packages/ibm-products-web-components/**/*.mdx