# Default
* @carbon-design-system/carbon-for-ibm-products-development

# Security package
/packages/security/ @jlongshore @paul-balchin-ibm

# Admins and team should be notified of changes to CI/CD workflows
/.github/workflows @elycheea @matthewgallo @kennylam @carbon-design-system/carbon-for-ibm-products-development
