# Netlify build and deploy settings - https://docs.netlify.com/configure-builds/file-based-configuration/#sample-file
[build]
ignore = "sh ./scripts/ignore_dependabot.sh"
command = "yarn storybook:build"
publish = "packages/core/storybook-static"

[build.environment]
YARN_ENABLE_GLOBAL_CACHE = 1
YARN_GLOBAL_FOLDER = "/opt/buildhome/.yarn_cache"

[[redirects]]
  from = "https://ibm-cloud-cognitive.netlify.app/*"
  to = "https://carbon-for-ibm-products.netlify.app/:splat"
  status = 301
  force = true
