////
/// Description list module.
/// @group description-list-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';

@import '../../../globals/namespace/index';
@import '../../Component/mixins';
@import '../../TypeLayout/variables';

@import '../variables';

@include security--component(
  $name: #{$layout-modules__name}--description-list
) {
  padding-bottom: $carbon--layout-03;

  &--dense {
    padding-bottom: $carbon--spacing-05;
  }

  // TODO: `3.x` - Remove bottom margin from the `TypeLayout` component to allow it to be handled by the layout module.
  > #{get-component-namespace($component-name: $type-layout__name)} {
    margin-bottom: 0;

    #{get-component-namespace($component-name: $type-layout__name)}__cell:first-of-type {
      padding-left: 0;
    }
  }

  #{get-component-namespace($component-name: $type-layout__name)}__cell {
    padding-top: 0;
    padding-bottom: $carbon--spacing-05;
  }

  &--short {
    #{get-component-namespace($component-name: $type-layout__name)}__cell {
      padding-bottom: $carbon--spacing-03;
    }
  }

  &--stacked {
    #{get-component-namespace($component-name: $type-layout__name)}__cell {
      display: block;

      &:first-of-type {
        padding-right: 0;
        padding-bottom: 0;
      }

      &:not(:first-of-type) {
        padding-left: 0;
      }
    }
  }

  &--toggle {
    @media (max-width: 320px) {
      #{get-component-namespace($component-name: $type-layout__name)}__cell {
        display: block;

        &:first-of-type {
          padding-right: 0;
          padding-bottom: 0;
        }

        &:not(:first-of-type) {
          padding-left: 0;
        }
      }
    }
  }
}
