/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021, 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type';
@use '../../../../global/styles/project-settings' as c4p-settings;
@use '../variables';

.#{variables.$block-class}__customize-columns-modal {
  .#{c4p-settings.$carbon-prefix}--modal-content {
    position: inherit;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
  }
}

.#{variables.$block-class}__customize-columns-checkbox-wrapper {
  margin-bottom: 0;
}
.#{variables.$block-class}__customize-columns-checkbox-wrapper {
  display: flex;
  justify-content: center;
}

.#{variables.$block-class}__customize-columns-modal--actions {
  display: flex;
  height: $spacing-09;
  flex-flow: row;
  background-color: $field-02;
}

.#{variables.$block-class}__customize-columns-modal--actions
  input[role='searchbox'] {
  height: $spacing-09;
  padding-left: $spacing-08;
  border-bottom: none;
}

.#{variables.$block-class}__customize-columns-modal--actions > button {
  margin-left: $spacing-05;
}

.#{variables.$block-class}__customize-columns-modal--actions
  input[role='searchbox']
  ~ button {
  width: $spacing-09;
  height: $spacing-09;
}

.#{variables.$block-class}__customize-columns-modal--actions
  input[role='searchbox']
  ~ button:hover {
  border-bottom: none;
}

.#{variables.$block-class}__customize-columns-instructions {
  padding-left: $spacing-05;
  margin-bottom: $spacing-06;

  @include type.type-style('body-long-01');

  color: $text-primary;
}

.#{variables.$block-class}__customize-columns-column-list {
  position: relative; // needed for the react-dnd, otherwise the drag preview will not work correctly
  overflow: auto;
}

.#{variables.$block-class}__customize-columns-select-all {
  display: flex;
  height: $spacing-09;
  align-items: center;
  padding-left: $spacing-08;
  border-bottom: 1px solid $layer-active;
  background-color: $layer-01;
}
.#{variables.$block-class}__customize-columns-select-all:hover {
  background-color: $layer-hover-01;
}
.#{variables.$block-class}__customize-columns-select-all-selected {
  display: flex;
  height: $spacing-09;
  align-items: center;
  padding-left: $spacing-08;
  border-bottom: 1px solid $layer-active;
  background-color: $layer-selected-01;
}

.#{variables.$block-class}__customize-columns-select-all-selected:hover {
  background-color: $background-selected-hover;
}

.#{variables.$block-class}
  .#{variables.$block-class}__customize-columns-modal
  .#{c4p-settings.$carbon-prefix}--modal-content {
  margin-bottom: 0;
}
