/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

.#{$block-class}__customize-columns-modal {
  .#{$carbon-prefix}--modal-content {
    position: inherit;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
  }
}

.#{$block-class}__customize-columns-checkbox-wrapper {
  margin-bottom: 0;
}
.#{$block-class}__customize-columns-checkbox-wrapper {
  display: flex;
  justify-content: center;
}

.#{$block-class}__customize-columns-modal--actions {
  display: flex;
  height: $spacing-09;
  flex-flow: row;
  background-color: $field-02;
}

.#{$block-class}__customize-columns-modal--actions input[role='searchbox'] {
  height: $spacing-09;
  padding-left: $spacing-08;
  border-bottom: none;
}

.#{$block-class}__customize-columns-modal--actions > button {
  margin-left: $spacing-05;
}

.#{$block-class}__customize-columns-modal--actions
  input[role='searchbox']
  ~ button {
  height: $spacing-09;
  width: $spacing-09;
  &:hover {
    border-bottom: none;
  }
}

.#{$block-class}__customize-columns-instructions {
  padding-left: $spacing-05;
  margin-bottom: $spacing-06;

  @include carbon--type-style('body-long-01');

  color: $text-01;
}

.#{$block-class}__customize-columns-column-list {
  position: relative; // needed for the react-dnd, otherwise the drag preview will not work correctly
  overflow: auto;
}

.#{$block-class}__customize-columns-select-all {
  display: flex;
  height: $spacing-09;
  padding-left: $spacing-08;
  border-bottom: 1px solid $layer-active;
  background-color: $layer;
}
.#{$block-class}__customize-columns-select-all:hover {
  background-color: $layer-hover;
}
.#{$block-class}__customize-columns-select-all-selected {
  display: flex;
  height: $spacing-09;
  padding-left: $spacing-08;
  border-bottom: 1px solid $layer-active;
  background-color: $layer-selected;
}

.#{$block-class}__customize-columns-select-all-selected:hover {
  background-color: $hover-selected-ui;
}

.#{$block-class}
  .#{$block-class}__customize-columns-modal
  .#{$carbon-prefix}--modal-content {
  margin-bottom: 0;
}
