/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

.#{$block-class}__customize-columns-tearsheet {
  .#{$pkg-prefix}--tearsheet-content {
    display: flex;
    flex-flow: column;
  }
}

.#{$block-class}__customize-columns-tearsheet--actions {
  position: sticky;
  z-index: 1;
  top: 0;
}

.#{$block-class}__customize-columns--checkbox-wrapper {
  display: flex;
  justify-content: center;
  padding-left: $spacing-03;
  margin-bottom: 0;
}

.#{$block-class}__customize-columns-column-list {
  position: relative; // needed for the react-dnd, otherwise the drag preview will not work correctly
}

.#{$block-class}__customize-columns--select-all {
  display: flex;
  position: sticky;
  height: $spacing-09;
  top: $spacing-09;
  z-index: 1;
  padding-left: $spacing-08;
  border-bottom: 1px solid $layer-active;
  background-color: $layer;

  .bx--checkbox-label-text {
    @include carbon--font-weight($weight: semibold);
  }
}

.#{$block-class}__customize-columns--select-all:hover {
  background-color: $layer-hover;
}

.#{$block-class}__customize-columns--select-all-selected {
  background-color: $layer-selected;
}

.#{$block-class}__customize-columns--select-all-selected:hover {
  background-color: $hover-selected-ui;
}
