/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

.#{$block-class}-filter-left-panel__container {
  position: relative;
  width: rem(320px);
  height: max(var(--filter-panel-min-height), 100vh);
  border-top: 1px $ui-03 solid;
  border-right: 1px $ui-03 solid;
  background-color: $ui-01;
}

.#{$block-class}-filter-left-panel__container::before {
  position: absolute;
  top: -1px; // stylelint-disable-line
  left: 0;
  display: block;
  width: rem(47px); // size of filter panel button
  height: 1px;
  background-color: $ui-01;
  content: '';
}

.#{$block-class}-filter-left-panel__inner-container {
  position: relative;
  z-index: 0;
  overflow: auto;
  padding: 0 $spacing-05;
  overscroll-behavior: contain;
}

// Adds extra space to the last category so the scroll shows everything visible when you reach the bottom
.#{$block-class}-filter-left-panel__inner-container
  .#{$block-class}-filter-left-panel__category:last-of-type {
  padding-bottom: $spacing-11;
}

.#{$block-class}-filter-left-panel {
  position: sticky;
  top: 0;
}

.#{$block-class}-filter-left-panel__heading {
  display: flex;
  justify-content: space-between;
  padding-left: $spacing-05;
  border-bottom: 1px solid transparent;
}

.#{$block-class}-filter-left-panel__heading--with-divider {
  border-bottom: 1px solid $ui-03;
}

.#{$block-class}-filter-left-panel__title {
  padding: $spacing-05 0;
  @include carbon--type-style('productive-heading-02');
}

.#{$block-class}-filter-left-panel__search {
  padding: 0 $spacing-05 $spacing-06;
}

.#{$block-class}-filter-left-panel__category-title {
  @include carbon--type-style('heading-01');

  margin-bottom: $spacing-05;
  color: $text-02;
}

.#{$block-class}-filter-left-panel__category {
  padding-bottom: $spacing-06;
}

// This selects all filter elements inside of categories and give them 16px margin bottom
.#{$block-class}-filter-left-panel__category
  > *:not(.c4p--datagrid-filter-left-panel__category-title, .bx--accordion) {
  margin-bottom: $spacing-05;
}

.#{$block-class}-filter-left-panel__action-set {
  position: sticky;
  z-index: 1; // To layer action set on top of content behind when sticky
  bottom: 0;
  height: rem(64px);
  margin-top: auto;
}

// Overrides
.#{$block-class}-filter-left-panel__container
  .#{$carbon-prefix}--accordion__title {
  margin: 0;
}

.#{$block-class}-filter-left-panel__container
  .#{$carbon-prefix}--accordion__arrow {
  margin: $spacing-01 0 0;
}

.#{$block-class}-filter-left-panel__container
  .#{$carbon-prefix}--accordion__content {
  padding-right: 0;
  padding-left: 0;
}

// Makes sure every child (filter) inside the accordion content has space in between
.#{$block-class}-filter-left-panel__container
  .#{$carbon-prefix}--accordion__content
  > *:not(:last-child) {
  margin-bottom: $spacing-05;
}

.#{$carbon-prefix}--btn.c4p--datagrid-filter-panel-open-button {
  border-right: 1px solid $ui-03;
  border-bottom: none;
}
