/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

.#{$block-class}-filter-left-panel__container {
  --filter-panel-min-height: rem(600px);

  position: relative;
  width: rem(320px);
  min-height: var(--filter-panel-min-height);
  max-height: 100vh;
  border-top: 1px $ui-03 solid;
  border-right: 1px $ui-03 solid;
  background-color: $ui-01;
}

.#{$block-class}-filter-left-panel__inner-container {
  overflow: auto;
  padding: 0 $spacing-05;
}

.#{$block-class}-filter-left-panel {
  display: none;

  &--open {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    padding-left: $spacing-05;
  }

  &__title {
    padding: $spacing-05 0;
    @include carbon--type-style('productive-heading-02');
  }

  &__search {
    padding: 0 $spacing-05 $spacing-06;
  }

  &__category-title {
    @include carbon--type-style('heading-01');

    margin-bottom: 18px;
  }

  &__category {
    padding-bottom: 14px;
  }
}

.#{$block-class}-filter-left-panel__action-set {
  position: sticky;
  z-index: 1; // To layer action set on top of content behind when sticky
  bottom: 0;
  height: rem(64px);
  margin-top: auto;
}

// Overrides
.#{$block-class}-filter-left-panel__container .bx--accordion__title {
  margin: 0;
}

.#{$block-class}-filter-left-panel__container .bx--accordion__arrow {
  margin: 2px 0 0;
}

.#{$block-class}-filter-left-panel__container .bx--accordion__content {
  padding-right: 0;
  padding-left: 0;
}

// Makes sure every child (filter) inside the accordion content has space in between
.#{$block-class}-filter-left-panel__container
  .bx--accordion__content
  > *:not(:last-child) {
  margin-bottom: $spacing-05;
}
