/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

.#{$block-class}-filter-left-panel__container {
  position: relative;
  width: 388px;
  //   height: 543px;
  border-top: 1px $ui-03 solid;
  border-right: 1px $ui-03 solid;
  background-color: $ui-01;
}

.#{$block-class}-filter-left-panel__inner-container {
  padding: 0 $spacing-05;
  overflow-y: scroll;
}

.#{$block-class}-filter-left-panel {
  display: none;

  &--open {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: $spacing-05 0;
    @include carbon--type-style('productive-heading-02');
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
  }

  &__search {
    padding: 0px 16px;
    padding-bottom: 8px;
  }

  &__category-title {
    @include carbon--type-style('heading-01');
    padding: 18px 0px;
  }

  &__category {
    padding-bottom: 14px;
  }
}

.#{$block-class}-filter-left-panel__action-set {
  // margin-bottom: 12px;
  height: 64px;
}

// Overrides
.#{$block-class}-filter-left-panel__container .bx--accordion__title {
  margin: 0px;
}

.#{$block-class}-filter-left-panel__container .bx--accordion__arrow {
  margin: 2px 0 0;
}
