/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

$action-set-height: rem(64px);

.#{$block-class}-filter-flyout__container {
  position: relative;
}

.#{$block-class}-filter-flyout {
  position: absolute;
  top: $spacing-09;
  right: 0;
  display: none;
  width: rem(642px);
  background-color: $ui-02;
  box-shadow: 0 1px rem(8px) 0 rgba(0, 0, 0, 0.25);

  &--open {
    display: grid;
  }

  &--batch {
    min-height: rem(346px);
    grid-template-rows: 1fr rem(48px);
  }

  &--instant {
    min-height: rem(282px);
    grid-template-rows: 1fr;
  }

  &__inner-container {
    padding: $spacing-05 $spacing-05 $spacing-09 $spacing-05;
  }

  &__inner-container::before {
    position: absolute;
    // stylelint-disable-next-line carbon/layout-token-use
    top: rem(-7px);
    // stylelint-disable-next-line carbon/layout-token-use
    right: 1px;
    display: block;
    // stylelint-disable-next-line carbon/layout-token-use
    width: rem(46px);
    content: '';
    // stylelint-disable-next-line carbon/layout-token-use
    height: rem(15px);
    background-color: $ui-02;
  }

  &__title {
    display: block;
    @include carbon--type-style('productive-heading-01');
    margin-bottom: $spacing-06;
  }

  &__filters {
    display: grid;
    gap: 16px 32px;
    grid-template-columns: 1fr 1fr;
  }

  // Carbon overrides

  &__trigger--open.#{$carbon-prefix}--btn.#{$carbon-prefix}--btn--icon-only {
    position: relative;
    background-color: $ui-02;
    box-shadow: 0 1px rem(8px) 0 rgba(0, 0, 0, 0.25);
  }

  .#{$carbon-prefix}--fieldset {
    margin-bottom: 0;
  }
}
