/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2022
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

$action-set-height: rem(64px);

.#{$block-class}-filter-left-panel__container {
  position: relative;
  width: 388px;
  background-color: $ui-01;
  border-right: 1px $ui-03 solid;
}

.#{$block-class}-filter-left-panel__inner-container {
    overflow: hidden;
    overflow-y: scroll;
}

.#{$block-class}-filter-left-panel {
    display: none;
    padding: 2px 14px;

    &--open {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
    }

    &__search {
        padding-bottom: 12px;
    }

    &__category-title {
        font-size: 14px;
        font-weight: 500;
        padding: 18px 14px;
    }

    &__category {
        padding-bottom: 24px;
    }

    // button {
    //     padding-bottom: 18px;
    // }
}

button {
    .#{$block-class}-filter-left-panel__action-set {
        margin-bottom: 12px;
    } 
}