/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '../../../../global/styles/project-settings' as c4p-settings;
@use '../variables';

.#{variables.$block-class}__row-size-dropdown {
  padding: $spacing-05;
  background-color: $layer-02;

  box-shadow: 1px 4px 8px -3px $overlay, -1px 6px 8px -5px $overlay;
}

.#{c4p-settings.$carbon-prefix}--btn--ghost.#{variables.$block-class}__row-size-button--open {
  background-color: $layer-02;

  box-shadow: 1px 4px 8px -3px $overlay, -1px 6px 8px -5px $overlay;
}

.#{variables.$block-class}
  .#{c4p-settings.$carbon-prefix}--popover--bottom-right.#{variables.$block-class}__row-height-settings-popover
  .#{c4p-settings.$carbon-prefix}--popover-caret {
  // Used to fix layout issue with IconButton caret inside of Popover component
  /* stylelint-disable-next-line carbon/layout-token-use */
  left: -4px;
}
