@import '../carbon';

.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  // stylelint-disable-next-line carbon/layout-token-use
  margin: 1rem;
  background-color: $ui-05;
  color: $text-04;
}
