@use '@carbon/react/scss/theme' as *;

.box {
  display: inline-block;
  inline-size: 150px;
  block-size: 150px;
  // stylelint-disable-next-line carbon/layout-use
  margin: 1rem;
  // stylelint-disable-next-line carbon/theme-use
  background-color: $background-inverse;
}
