@use '@carbon/react/scss/theme' as *;

.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  // stylelint-disable-next-line carbon/layout-token-use
  margin: 1rem;
  background-color: $border-inverse;
  color: $text-on-color;
}
