////
/// Search bar component.
/// @group search-bar
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import 'carbon-components/scss/globals/scss/vars';

@import '../Button/index';
@import '../MultiSelect/index';
@import '../Search/index';

@import '../Component/mixins';

@include security--component($name: search-bar) {
  display: flex;

  &__scopes.#{$prefix}--list-box {
    border: 0;

    &,
    .#{$prefix}--list-box__field {
      height: $carbon--layout-04;
      max-height: unset;
    }
  }

  .#{$prefix}--multi-select__wrapper,
  .#{$prefix}--search,
  &__submit {
    align-self: flex-end;
  }

  &--hide-scopes-label .#{$prefix}--label {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    visibility: inherit;
    white-space: nowrap;
  }
}
