@import './carbon';

$pkg-prefix: 'txt' !default;
@import './ibm-cloud-and-cognitive';
@import './components/display-box';

body {
  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  justify-content: flex-start;
  padding: $spacing-09;
}
