@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/config";

.empty-state-wrapper {
  display: flex;
  justify-content: center;
  margin-top: $spacing-09;
}

.#{config.$prefix}--label {
  @include type-style("label-01");

  margin-bottom: $spacing-03;
}

.#{config.$prefix}--dropdown__wrapper {
  max-width: 400px;
}
