@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/type';
@use '@carbon/react/scss/config';

.empty-state-wrapper {
  display: flex;
  justify-content: center;
  margin-top: spacing.$spacing-09;
}

.#{config.$prefix}--label {
  @include type.type-style('label-01');

  margin-bottom: spacing.$spacing-03;
}

.#{config.$prefix}--dropdown__wrapper {
  max-width: 400px;
}
