@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/ibm-products/scss/config';

.#{config.$pkg-prefix}--inline-tip__wide {
  // Allow enough space above the component to show the "X" tooltip.
  margin-block-start: $spacing-07;
  margin-inline-start: $spacing-07;
  max-inline-size: 784px;
}

.#{config.$pkg-prefix}--inline-tip-narrow {
  margin-block-start: $spacing-07;
  margin-inline-start: $spacing-07;
  max-inline-size: 348px;
}
