@import 'carbon';

body {
  @include carbon--theme();

  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
