// Standard imports.
@import '../../global/styles/project-settings';

// ModifiedTabs uses the following Carbon components:
// Tabs, Tab
@import 'carbon-components/scss/components/tabs/tabs';

.modified-tabs .modified-tabs__tab-label {
  display: flex;
  width: 100%;
  // height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.modified-tabs .modified-tabs__tab .bx--btn {
  // transform: translateY(8px);
}

.modified-tabs .bx--tabs__nav {
  /* overflow cannot be tweaked to fix tooltip */
  // overflow: visible;
}

.modified-tabs__tab-new,
.modified-tabs__tab {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.modified-tabs__tab-new-img,
.modified-tabs__tab-close {
  // similar to modal dialog close
  position: absolute;
  top: -$spacing-04;
  right: -$spacing-05;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  padding: $spacing-04;
  border: $spacing-01 solid transparent;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  transition: background-color $duration--fast-02 motion(standard, productive);
  // stylelint-disable-next-line max-nesting-depth
  @media (prefers-reduced-motion: reduce) {
    // stylelint-disable-next-line carbon/motion-token-use
    transition: none;
  }
}

.modified-tabs__tab-new-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: $spacing-01;
}

.modified-tabs__tab-close:focus {
  border-color: $interactive-01;
  outline: none;
}

.modified-tabs__tab-close:hover {
  background-color: $hover-ui;
}

.modified-tabs__tab-new-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
