@import '../carbon';

.ccs-theme-dropdown {
  position: fixed;
  bottom: $spacing-05;
  left: $spacing-05;
  min-width: 11.5rem;
}

.ccs-status-dropdown {
  position: fixed;
  top: $spacing-05;
  left: $spacing-05;
  min-width: 11.5rem;
}

.example__status-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
