@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';

.ccs-theme-dropdown {
  position: fixed;
  bottom: spacing.$spacing-05;
  left: spacing.$spacing-05;
  min-width: 11.5rem;
}

.ccs-status-dropdown {
  position: fixed;
  top: spacing.$spacing-05;
  left: spacing.$spacing-05;
  min-width: 11.5rem;
}

.example__status-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
