@use '@carbon/react/scss/theme' as *;
@use '../../../global/styles/project-settings' as c4p-settings;
@use '@carbon/styles/scss/type';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities';
@use '@carbon/react/scss/motion' as *;
@use '@carbon/react/scss/utilities/focus-outline';
@use '@carbon/styles/scss/components/tag';

@use '@carbon/styles/scss/type' as *;

$block-class: #{c4p-settings.$pkg-prefix}--condition-builder;

.#{$block-class}__content-container * {
  @include type-style('body-01');
}

.#{$block-class}__condition-builder-item__content {
  overflow: auto;
  min-width: $spacing-07 + $spacing-13;
  max-width: $spacing-13 + $spacing-13;
  max-height: $spacing-13 + $spacing-13 + $spacing-07;
}

.#{$block-class}__condition-builder-item__title {
  @include type.type-style('heading-01');

  padding: $spacing-05;
}

.#{$block-class}__condition-builder-item-option__search {
  padding-block-end: $spacing-05;
  padding-inline: $spacing-05;
}

.#{$block-class}__condition-builder-item-option__option {
  height: 2rem;
  cursor: pointer;
  padding-inline: $spacing-05;
}

.#{$block-class}__condition-builder-item-option__option:hover {
  background-color: $layer-hover;
}

.#{$block-class}__condition-builder-item-option__option-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.#{$block-class}__condition-builder-item-option__option-label {
  display: flex;
  overflow: hidden;
  align-items: center;
  column-gap: $spacing-03;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$block-class}__condition-builder-item-option
  > ul[aria-multiSelectable='true']
  .#{$block-class}__condition-builder-item-option__option-label {
  justify-content: center;
}

.#{$block-class}__condition-builder-item-option__option:not(:first-of-type)
  .#{$block-class}__condition-builder-item-option__option-content {
  border-block-start: 0.0625rem solid $border-subtle;
}

.#{$block-class}__condition-builder-item-option__option:hover
  .#{$block-class}__condition-builder-item-option__option-content,
.#{$block-class}__condition-builder-item-option__option[aria-selected='true']
  .#{$block-class}__condition-builder-item-option__option-content,
.#{$block-class}__condition-builder-item-option__option:hover
  + .#{$block-class}__condition-builder-item-option__option
  .#{$block-class}__condition-builder-item-option__option-content,
.#{$block-class}__condition-builder-item-option__option[aria-selected='true']
  + .#{$block-class}__condition-builder-item-option__option
  .#{$block-class}__condition-builder-item-option__option-content {
  border-block-start-color: transparent;
}

.#{$block-class}__condition-builder-item-option__option[aria-selected='true'] {
  background-color: $layer-selected;
}

.#{$block-class}__condition-builder-item-option__option[aria-selected='true']:hover {
  background-color: $layer-selected-hover;
}

.#{$block-class}__condition-builder-item-date,
.#{$block-class}__condition-builder-item-text,
.#{$block-class}__condition-builder-item-number {
  padding-block-end: $spacing-05;
  padding-inline: $spacing-05;
}

.#{$block-class}__condition-builder-checkmark {
  margin-left: auto;
}

.#{$block-class}__condition-builder-button {
  @include utilities.button-reset();

  display: inline-flex;
  height: $spacing-07;
  align-items: center;
  background-color: $layer;
  color: inherit;
  column-gap: $spacing-02;
  cursor: pointer;
  padding-inline: $spacing-03;
  white-space: nowrap;
}
.#{$block-class}__condition-builder-button:hover {
  background-color: $layer-hover;
}
.#{$block-class}__condition-builder__group.hoveredConnector
  .#{$block-class}__condition-wrapper
  > .conditionBlockWrapper
  .#{$block-class}__connector-button {
  background-color: $layer-hover;
}

.#{$block-class}__condition-builder-button:focus {
  @include focus-outline.focus-outline('outline');

  content: '';
  inset: 0;
}

.#{$block-class}__statement-button,
.#{$block-class}__connector-button {
  min-width: $spacing-10;
  padding-inline: $spacing-03;
}
.#{$block-class}__property-field {
  @include type.type-style('heading-01');

  padding-left: $spacing-03;
}
.#{$block-class}__close-condition {
  padding-right: $spacing-03;
}
.#{$block-class}__add-button {
  padding-right: $spacing-03;
  padding-left: $spacing-03;
}
.#{$block-class}__conditionWrapper {
  display: flex;
}

.#{$block-class}__multiselectSelectionStatusContainer {
  display: flex;
  align-items: center;
  padding-inline: $spacing-05;

  .#{$block-class}__selectAll-button {
    margin-left: auto;
  }
}

.#{$block-class}__condition-builder-item-option__option:focus {
  @include focus-outline.focus-outline('outline');
}
