@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/motion';
@use '@carbon/styles/scss/components/tag' as *;
@use '@carbon/styles/scss/utilities/focus-outline';
@use '../../../global/styles/project-settings' as c4p-settings;
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/type' as *;

$block-class: #{c4p-settings.$pkg-prefix}--condition-builder;

.#{$block-class}__condition-block,
.#{$block-class}__condition-block .#{$block-class}__block {
  position: relative;
  display: inline-flex;
}

[role='row']:focus {
  @include focus-outline.focus-outline('outline');

  outline-offset: 0;
}

.#{$block-class}__condition-builder-condition__deletion-preview
  .#{$block-class}__condition-builder-button:not(
    .#{$block-class}__statement-button,
    .#{$block-class}__connector-button
  ) {
  background-color: $tag-background-red;
  color: $tag-color-red;
}

.#{$block-class}__condition-builder-condition__deletion-preview
  .#{$block-class}__condition-builder-button:not(
    .#{$block-class}__statement-button,
    .#{$block-class}__connector-button
  ):hover {
  background-color: $tag-hover-red;
}

.#{$block-class}__text-ellipsis {
  display: block;
  overflow: hidden;
  max-width: $spacing-13;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
