@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/config';

.carbon-theme--white {
  @include theme(themes.$white, true);
}

.carbon-theme--g10 {
  @include theme(themes.$g10, true);
}

.carbon-theme--g90 {
  @include theme(themes.$g90, true);
}

.carbon-theme--g100 {
  @include theme(themes.$g100, true);
}

.carbon-theme-dropdown {
  position: fixed;
  bottom: 1rem; // stylelint-disable-line carbon/layout-token-use
  left: 1rem; // stylelint-disable-line carbon/layout-token-use
  min-width: 11.5rem;
}

.carbon-theme-dropdown .#{config.$prefix}--label {
  @include type.type-style('label-01');
}
