@import './carbon';

// $pkg-prefix: 'txt' !default;
@import './ibm-cloud-and-cognitive';

body {
  background: $ui-background;
}

.app {
  display: flex;
  justify-content: flex-end;
}

.app .main--content {
  width: 100%;
  margin-top: $spacing-09;
}

.app .main--content .example-terminal {
  @include carbon--type-style('code-02');

  padding: $spacing-05;
  // stylelint-disable-next-line carbon/theme-token-use
  color: $gray-10;
}

.app .main--content .example-terminal p {
  @include carbon--type-style('body-short-01');

  padding-bottom: $spacing-07;
}
