////
/// Tag wall mixins.
/// @group tag-wall
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/type/scss/index';

@mixin tag-wall {
  &__label {
    $tag-wall__spacing: $carbon--spacing-03;

    @include carbon--type-style($name: caption-01);

    margin-top: $tag-wall__spacing;
    margin-bottom: $tag-wall__spacing;
  }

  > #{$tag--interactive__namespace} {
    max-width: 40ex;

    &__button {
      flex-shrink: 0;
    }
  }
}
