.example {
  block-size: 100vh;
  overflow: hidden;
}

.content-area.content-area {
  block-size: calc(100% - 3rem);
  padding: 0;
  margin-top: 3rem;
  overflow-y: auto;
  @supports (overflow-block: auto) {
    overflow-block: auto;
  }
}
