@import '../../global/styles/project-settings';
@import '../../global/styles/carbon-settings';

// make the root full width to get a better idea of how the cards
// look in a real grid situation

#root {
  width: 100%;
}

// aspect ratio box styling
.card-story .bx--aspect-ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ui-03;
}

.#{$pkg-prefix}-card--media-left .#{$pkg-prefix}-card-media {
  width: 100%;
  max-width: 300px;
}

.graph {
  width: 200px;
  height: 100px;
  margin: 0 auto $spacing-06 auto;
  border: 10px solid $support-02;
  border-bottom: 0;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
}
