@use '@carbon/react/scss/spacing' as *;

.main--content {
  display: flex;
  inline-size: 100%;
  block-size: calc(100vh - 3rem);
  align-items: center;
  justify-content: center;
  margin-top: $spacing-09;
}
