/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2021
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import '../variables';

.#{$block-class}__row-size {
  position: relative;
}

.#{$block-class}__row-size-dropdown {
  position: absolute;
  right: 0;
  width: 10rem;
  padding: $spacing-05;
  background-color: $ui-background;
  box-shadow: 1px 4px 8px -3px $overlay-01, -1px 6px 8px -5px $overlay-01;
}

.#{$carbon-prefix}--btn--ghost.#{$block-class}__row-size-button--open {
  background-color: $ui-02;

  box-shadow: 1px 4px 8px -3px $overlay-01, -1px 6px 8px -5px $overlay-01;
}

// Top align cell content for xl row size
.#{$block-class}
  table.#{$carbon-prefix}--data-table--xl.#{$block-class}__vertical-align-center
  td,
.#{$block-class}
  table.#{$carbon-prefix}--data-table--xl.#{$block-class}__vertical-align-top
  td {
  align-items: flex-start;
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;

  &.#{$block-class}__actions-column-cell {
    padding-left: $spacing-03;
  }
}

// Top align header content for xl row size
.#{$block-class}
  table.#{$carbon-prefix}--data-table--xl.#{$block-class}__vertical-align-center
  th,
.#{$block-class}
  table.#{$carbon-prefix}--data-table--xl.#{$block-class}__vertical-align-top
  th {
  .#{$carbon-prefix}--table-header-label {
    align-items: flex-start;
  }
}

// Top align checkbox row header for xl row size
.#{$block-class}
  table.#{$carbon-prefix}--data-table--xl.#{$block-class}__vertical-align-center
  .#{$block-class}__checkbox-cell
  th.#{$carbon-prefix}--table-column-checkbox {
  align-items: flex-start;
  padding-top: $spacing-04;
}

.#{$block-class}__row-size__row-settings-trigger--open.#{$carbon-prefix}--btn--ghost {
  background-color: $ui-02;
}
