@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.sample-page__dummy-content {
  margin-top: $spacing-05;
}

.sample-page__dummy-content-block {
  height: 120vh;
  background-clip: content-box;
  background-color: $layer-01;
}

.sample-page__dummy-content-text {
  padding: $spacing-05;
}

.sample-page__status-icon {
  fill: $support-success;
  vertical-align: middle;
}
