@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';

.sample-page__dummy-content {
  margin-top: spacing.$spacing-05;
}

.sample-page__dummy-content-block {
  height: 120vh;
  background-clip: content-box;
  background-color: theme.$layer-01;
}

.sample-page__dummy-content-text {
  padding: spacing.$spacing-05;
}

.sample-page__status-icon {
  fill: theme.$support-success;
  vertical-align: middle;
}
