/* stylelint-disable  */

@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing' as *;

.sb-show-main.sb-main-centered #root {
  padding: 0 !important;
  margin: 0 !important;
}

.example-terminal {
  padding: $spacing-05;
  color: colors.$gray-10;
  font-family: 'IBM Plex Mono', monospace;

  p {
    padding-bottom: $spacing-07;
    font-size: 14px;
  }
}
