/* stylelint-disable  */

@import '../../global/styles/carbon-settings';

.example-terminal {
  padding: $spacing-05;
  color: $gray-10;
  font-family: 'IBM Plex Mono', monospace;

  p {
    padding-bottom: $spacing-07;
    font-size: 14px;
  }
}
