// Standard imports.
@import '../../global/styles/project-settings';

$web-terminal-width: 36.5rem;
$block-class: #{$pkg-prefix}--web-terminal;

@keyframes web-terminal-entrance {
  0% {
    opacity: 0;
    // stylelint-disable-next-line carbon/layout-token-use
    transform: translateX(#{$web-terminal-width});
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes web-terminal-exit {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    // stylelint-disable-next-line carbon/layout-token-use
    transform: translateX(#{$web-terminal-width});
  }
}

/*
  The reason for not using theme tokens in the web terminal
  component is because we want these colors to always be the same
  despite of which carbon theme the user has.
*/

.#{$block-class} {
  @include carbon--theme($carbon--theme--g90, true);

  position: fixed;
  top: $spacing-09;
  right: 0;
  width: $web-terminal-width;
  height: calc(100vh - #{$spacing-09});
  border-left: 1px solid $gray-90;
  color: $text-01;
  /* stylelint-disable-next-line  */
  background-color: $gray-100;
}

.#{$block-class}__bar {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: $ui-background;
}

.#{$block-class}__actions {
  display: flex;
}

.#{$block-class}__documentation-overflow {
  @include carbon--theme($carbon--theme--g100, true);
}

// Terminal body styles
.#{$block-class}__body {
  height: 100%;
}
