// Standard imports.
@import '../../global/styles/project-settings';

$web-terminal-width: 36.5rem;
$block-class: #{$pkg-prefix}--web-terminal;

@keyframes webTerminalEntrance {
  0% {
    opacity: 0;
    // stylelint-disable-next-line carbon/layout-token-use
    transform: translateX(#{$web-terminal-width});
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes webTerminalExit {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    // stylelint-disable-next-line carbon/layout-token-use
    transform: translateX(#{$web-terminal-width});
  }
}

/*
  The reason for not using theme tokens in the web terminal
  component is because we want these colors to always be the same
  despite of which carbon theme the user has.
*/

.#{$block-class} {
  @include carbon--theme($carbon--theme--g90, true);

  position: fixed;
  top: $spacing-09;
  right: 0;
  width: $web-terminal-width;
  height: calc(100vh - #{$spacing-09});
  background-color: $gray-100; /* stylelint-disable-line  */
}

.#{$block-class}__bar {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: $ui-background;
}

.#{$block-class}__actions {
  display: flex;
}

.#{$block-class}__bar-icon-dropdown {
  position: absolute;
  top: 2.9375rem; /* stylelint-disable-line */
  left: -1px; /* stylelint-disable-line */
  width: 10rem;
  background-color: $field-01;

  opacity: 0;
  /* stylelint-disable-next-line  */
  transform: translateY(calc(-1 * #{$spacing-04}));
  transition: all carbon--motion(standard, productive) $duration--fast-02;
  visibility: hidden;
}

.#{$block-class}__bar-icon-container:hover .#{$block-class}__bar-icon-dropdown,
.#{$block-class}__bar-icon-container:focus .#{$block-class}__bar-icon-dropdown {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.#{$block-class}__bar-icon-dropdown-link {
  display: flex;
  width: 100%;
  height: 2.125rem;
  align-items: center;
  padding-left: $spacing-04;
  color: $text-02;
  cursor: pointer;
  text-decoration: none;
  @include carbon--type-style('body-short-01');

  transition: all carbon--motion(standard, productive) $duration--fast-02;
}

.#{$block-class}__bar-icon-dropdown-link:hover {
  background-color: $hover-ui;
  color: $text-01;
}

// Terminal body styles
.#{$block-class}__body {
  height: 100%;
}
