@import '../../global/styles/carbon-settings';
@import '../../global/styles/project-settings';

$web-terminal-width: 36.5rem;

@keyframes webTerminalEntrance {
  0% {
    opacity: 0;
    // stylelint-disable-next-line carbon/layout-token-use
    transform: translateX(#{$web-terminal-width});
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes webTerminalExit {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    // stylelint-disable-next-line carbon/layout-token-use
    transform: translateX(#{$web-terminal-width});
  }
}

/*
  The reason for not using theme tokens in the web terminal
  component is because we want these colors to always be the same
  despite of which carbon theme the user has.
*/

.#{$pkg-prefix}-web-terminal {
  @include carbon--theme($carbon--theme--g90, true);

  position: fixed;
  top: $spacing-09;
  right: 0;
  width: $web-terminal-width;
  height: calc(100vh - #{$spacing-09});
  background-color: $gray-100; /* stylelint-disable-line  */
}

.#{$pkg-prefix}-web-terminal__bar {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: $ui-background;
}

.#{$pkg-prefix}-web-terminal__bar-icon {
  cursor: pointer;
  fill: $text-01;
}

.#{$pkg-prefix}-web-terminal__bar-icon-container {
  position: relative;
  padding: $spacing-04;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.#{$pkg-prefix}-web-terminal__bar-icon-dropdown {
  position: absolute;
  top: 2.8125rem; /* stylelint-disable-line */
  left: 0;
  width: 10rem;
  background-color: $field-01;

  opacity: 0;
  /* stylelint-disable-next-line  */
  transform: translateY(calc(-1 * #{$spacing-04}));
  transition: all carbon--motion(standard, productive) $duration--fast-02;
  visibility: hidden;
}

.#{$pkg-prefix}-web-terminal__bar-icon-container:hover
  .#{$pkg-prefix}-web-terminal__bar-icon-dropdown,
.#{$pkg-prefix}-web-terminal__bar-icon-container:focus
  .#{$pkg-prefix}-web-terminal__bar-icon-dropdown {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.#{$pkg-prefix}-web-terminal__bar-icon-dropdown-link {
  display: flex;
  width: 100%;
  height: 2.125rem;
  align-items: center;
  padding-left: $spacing-04;
  color: $text-02;
  cursor: pointer;
  text-decoration: none;
  @include carbon--type-style('body-short-01');

  transition: all carbon--motion(standard, productive) $duration--fast-02;
}

.#{$pkg-prefix}-web-terminal__bar-icon-dropdown-link:hover {
  //NOTE: The 4c4c4c is a theme token but not a gray value token
  background-color: $hover-ui;
  color: $text-01;
}

.#{$pkg-prefix}-web-terminal__close-container {
  padding: $spacing-04;
  cursor: pointer;
}

// Terminal body styles
.#{$pkg-prefix}-web-terminal__body {
  height: 100%;
}
