////
/// Spacing exports. Allows importing the spacing values into JavaScript.
/// @group scss-exports
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/spacing';

@import '../deprecate/index';

$deprecate: deprecate(
  $actual: '@carbon/ibm-security/scss/globals/scss-exports/spacing.module',
  $expected: '@carbon/layout/scss/layout',
  $url:
    'https://github.com/carbon-design-system/ibm-security/blob/master/docs/migration/carbon-for-ibm-security/layout.md#imports',
);

/// Baseline spacing.
/// @type Length
$spacing--baseline: $carbon--spacing-05;

:export {
  spacing-2xl: $carbon--spacing-08;
  spacing-2xs: $carbon--spacing-02;
  spacing-3xl: $carbon--spacing-09;

  spacing-3xs: $carbon--spacing-01;
  spacing-baseline: $spacing--baseline;
  spacing-lg: $carbon--spacing-06;
  spacing-md: $spacing--baseline;

  spacing-sm: $carbon--spacing-04;

  spacing-xl: $carbon--spacing-07;
  spacing-xs: $carbon--spacing-03;
}
