.slider{margin-block-end:1rem}.parent{overflow:scroll;max-inline-size:100%;scrollbar-width:none}.child{white-space:nowrap}.child p{margin-block-end:.25rem;margin-block-start:.25rem}.child .cds--tag{margin:0 .5rem .5rem 0}
