////
/// Multi select component.
/// @group multi-select
/// @copyright IBM Security 2018 - 2021
////

@import '@carbon/themes/scss/tokens';
@import 'carbon-components/scss/components/multi-select/multi-select';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../globals/namespace/index';

@include export-namespace($name: multi-select) {
  .#{$prefix}--multi-select {
    .#{$prefix}--list-box__menu-item__option {
      .#{$prefix}--checkbox-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
      }

      > .#{$prefix}--form-item {
        flex-direction: row;
        margin: 0;
      }
    }
  }
}
