@import '../../global/styles/carbon-settings';
@import '../../global/styles/project-settings';

@import 'carbon-components/scss/components/modal/modal';
@import 'carbon-components/scss/components/text-input/text-input';
@import 'carbon-components/scss/components/radio-button/radio-button';
@import 'carbon-components/scss/components/loading/loading';

@mixin export-modal {
  $block-class: #{$pkg-prefix}--export-modal;

  .#{$block-class}__body {
    margin-bottom: $spacing-05;
  }

  .#{$block-class}__messaging {
    display: flex;
    align-items: center;
  }

  .#{$block-class}__messaging p {
    margin-left: $spacing-03;
  }

  .#{$block-class}__checkmark-icon {
    fill: $interactive-01;
  }

  .#{$block-class}__error-icon {
    fill: $danger;
  }
}

@include exports('export-modal') {
  @include export-modal;
}
