////
/// Error page component.
/// @group error-page
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/font-family';
@import '@carbon/type/scss/styles';

@mixin error-page {
  $root: &;

  display: flex;
  min-height: carbon--mini-units($count: 25);
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $carbon--spacing-09;
  background-repeat: no-repeat;

  &__title {
    @include carbon--type-style($name: productive-heading-05);

    margin-top: $carbon--spacing-04;
    margin-bottom: $carbon--spacing-09;
  }

  &__sub-title,
  &__description {
    margin-top: 0;
  }

  &__sub-title {
    @include carbon--type-style($name: productive-heading-03);

    margin-bottom: $carbon--spacing-05;
  }

  &__description {
    @include carbon--type-style($name: heading-02);

    margin-bottom: $carbon--spacing-07;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $carbon--spacing-12 $spacing-07;
  }

  &__content {
    display: flex;
    max-width: carbon--mini-units($count: 50);
    flex-direction: column;
    justify-content: flex-start;
  }

  &__link__icon {
    /// Icon dimensions.
    /// @type Length
    $error-page__link__icon__sizing__dimensions: carbon--mini-units(
      $count: 2.5,
    );

    width: $error-page__link__icon__sizing__dimensions;
    height: $error-page__link__icon__sizing__dimensions;
    padding-right: $carbon--spacing-03;
  }
}
