////
/// Filter panel selector styles.
/// @group filter-panel
/// @copyright IBM Security 2020
////

@import '../../Checkbox/index';

@import '../../Component/mixins';

@import 'mixins';

@include security--component($name: filter-panel-checkbox) {
  @include filter-panel-checkbox;
}
