$css--font-face: true;
$css--reset: true;

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import '~carbon-components/scss/globals/scss/styles';

@import '~@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--white;
@include carbon--theme();

@import '../src/index';

// use all width available - useful for whole page type components
.storybook--use-width {
  width: 100vw;
}

// for the idepageheader custom JSX example - puts a child in the bottom right corner
.storybook--idepageheader-button {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(-1px + 100%);
  justify-content: flex-end;
  align-items: flex-end;
}

// class to represent content in the ide nav stories
.storybook--idenav-content {
  height: 90vh;
}
// bleed example for the page component
.storybook--ide-page-component-bleed {
  background-color: aqua;
}
// make sure PageHeading appears correctly under the header in the storybook
.storybook--ide-page-header-heading {
  margin-top: 3rem;
}
