////
/// Profile image component.
/// @group profile-image
/// @copyright IBM Security 2019
////

@import '../Component/mixins';

@import 'mixins';

@include security--component($name: profile-image) {
  @include profile-image;
}
