@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/components/button/tokens' as *;

.display-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  --content-width: 50%;
}

.display-box__details {
  margin: $spacing-07 0;
}

.display-box__content {
  width: var(--content-width);
  border: 1px dashed $text-primary;
  margin-top: $spacing-09;
}

.display-box__slider {
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  appearance: none;
  background: $toggle-off;
  border-radius: 1px;
  opacity: 0.7;
  outline: none;
  -webkit-transition: 0.2s;
  // stylelint-disable-next-line carbon/motion-duration-use
  transition: background-color 0.2s;

  /* stylelint-disable-next-line max-nesting-depth */
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.display-box__slider:hover {
  background: $text-primary;
}

.display-box__slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: $text-primary;
  border-radius: 50%;
  cursor: pointer;
}

.display-box__slider::-webkit-slider-thumb:hover {
  background-color: $button-primary;
}

.display-box__slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: $text-primary;
  border-radius: 50%;
  cursor: pointer;
}

.display-box__slider::-moz-range-thumb:hover {
  background-color: $button-primary;
}
