@use '@carbon/react' with (
  $css--default-type: true,
  $css--reset: true
);

// Reset
@use '@carbon/react/scss/reset';

.custom-cell-wrapper {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
