@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

$block-class: 'gallery';

body {
  overflow-x: hidden;

  @supports (overflow-inline: hidden) {
    overflow-inline: hidden;
  }
}

.#{$block-class}.#{$block-class} {
  inline-size: 100vw;
  min-block-size: 100vh;
  background-color: $background;
  color: $text-primary;
}

.#{$block-class} .#{$block-class}__container {
  display: flex;
  inline-size: 100%;
  max-inline-size: 1024px;
  min-block-size: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.#{$block-class} .#{$block-class}__title {
  margin-top: $spacing-10;
}

.#{$block-class} .#{$block-class}__filter {
  margin-top: $spacing-07;
}

.#{$block-class} .#{$block-class}__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $spacing-07;
}

$item-width: 320px;
$item-height: 240px;

.#{$block-class} .#{$block-class}__gallery-item {
  inline-size: $item-width;
  block-size: $item-height;
  margin-bottom: $spacing-06;
}

.#{$block-class} .#{$block-class}__gallery-item--dummy {
  inline-size: $item-width;
  block-size: 0;
  visibility: hidden;
}
