@import '../../global/styles/carbon-settings';
@import '../../global/styles/project-settings';

@import 'carbon-components/scss/components/modal/modal';
@import 'carbon-components/scss/components/text-input/text-input';
@import 'carbon-components/scss/components/inline-loading/inline-loading';

.#{$exp-prefix}--apikey-modal .bx--text-input__field-wrapper {
  margin-bottom: $spacing-05;
}

.#{$exp-prefix}--apikey-modal-body {
  margin-bottom: $spacing-05;
}

.#{$exp-prefix}--apikey-modal-messaging {
  display: flex;
}

.#{$exp-prefix}--apikey-modal-messaging-text {
  flex: 1;
  margin-left: $spacing-03;
  @include carbon--type-style('label-01');
}

.#{$exp-prefix}--apikey-modal-messaging-text > * {
  font: inherit;
}
