@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;

$preview-block-class: exp--tearsheet-create-multi-step;

.#{$preview-block-class}__description {
  @include type-style('body-short-01');

  padding-bottom: $spacing-04;
}

p.#{$preview-block-class}__description:last-of-type {
  padding-bottom: $spacing-07;
}

.#{$preview-block-class}__heading {
  @include font-weight('semibold');
}

.#{$preview-block-class} .bx--form-item {
  margin-bottom: $spacing-05;
}
