@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/type';

$preview-block-class: exp--tearsheet-create-multi-step;

.#{$preview-block-class}__description {
  @include type.type-style('body-short-01');

  padding-bottom: spacing.$spacing-04;
}

p.#{$preview-block-class}__description:last-of-type {
  padding-bottom: spacing.$spacing-07;
}

.#{$preview-block-class}__heading {
  @include type.font-weight('semibold');
}

.#{$preview-block-class} .bx--form-item {
  margin-bottom: spacing.$spacing-05;
}
