@import './carbon-settings';

// Feature flags
$css--font-face: true; /* true by default if importing global styles v10.41.0 */
$css--plex: true; /* true by default if importing global styles v10.41.0 */

// Global styles
@import '@carbon/type/scss/reset';
@import 'carbon-components/scss/globals/scss/css--font-face';

$carbon--theme: $carbon--theme--g10;

// All carbon styles at once
// @import "carbon-components/scss/globals/scss/styles";

// Only required Carbon component styles
@import 'carbon-components/scss/components/form/form';
@import 'carbon-components/scss/components/dropdown/dropdown';
@import 'carbon-components/scss/components/link/link';
@import 'carbon-components/scss/components/ui-shell/ui-shell';

// Theme selector classes for use if switching between themes
.carbon-theme--white {
  @include carbon--theme($carbon--theme--white, true);
}

.carbon-theme--g10 {
  @include carbon--theme($carbon--theme--g10, true);
}

.carbon-theme--g90 {
  @include carbon--theme($carbon--theme--g90, true);
}

.carbon-theme--g100 {
  @include carbon--theme($carbon--theme--g100, true);
}
