@import './carbon';

.app.app {
  width: 100vw;
  height: 100vh;
  background-color: $ui-background;
  color: $text-01;
}

.app .app__container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  min-height: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.app .app__title {
  margin-top: $spacing-10;
}

.app .app__filter {
  margin-top: $spacing-07;
}

.app .app__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $spacing-07;
}

.app .app__gallery-item {
  width: 320px;
  height: 240px;
  margin-bottom: $spacing-06;
}

.app .app__gallery-item--dummy {
  height: 0;
  visibility: hidden;
}
