@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.tearsheet-example__dummy-content-block {
  padding: $spacing-06 $spacing-07;
}

.tearsheet-example__dummy-content-block-main-content {
  width: 100%;
  height: 100%;
  background-color: $background;
}

.tearsheet-example__tabs .bx--tab-content {
  display: none;
}
