@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.tearsheet-example__dummy-content-block {
  padding: $spacing-06 $spacing-07;
}

.tearsheet-example__dummy-content-block-main-content {
  inline-size: 100%;
  block-size: 100%;
  background-color: $background;
}

.tearsheet-example__tabs .bx--tab-content {
  display: none;
}
