@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";

.tearsheet-example__dummy-content-block {
  padding: spacing.$spacing-06 spacing.$spacing-07;
}

.tearsheet-example__dummy-content-block-main-content {
  width: 100%;
  height: 100%;
  background-color: theme.$background;
}

.tearsheet-example__tabs .bx--tab-content {
  display: none;
}
