@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/tooltip/tooltip';
@import 'carbon-components/scss/components/tabs/tabs';

.modified-tabs {
  .modified-tab {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    .bx--btn {
      transform: translateY(8px);
    }
  }

  .bx--tabs__nav {
    overflow: visible;
  }

  .bx--tabs__nav-link {
    overflow: visible;
  }
}
