@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/tooltip/tooltip';
@import 'carbon-components/scss/components/tabs/tabs';

.modified-tabs .modified-tab {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.modified-tabs .modified-tab .bx--btn {
  transform: translateY(8px);
}

.modified-tabs .bx--tabs__nav {
  overflow: visible;
}

.modified-tabs .bx--tabs__nav-link {
  overflow: visible;
}
