@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.container {
  padding-block-start: 50px;
}

.graph {
  inline-size: 200px;
  block-size: 100px;
  border: 10px solid $support-error;
  border-right-color: $support-success;
  border-bottom: 0;
  margin: 0 auto $spacing-05;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
}

.ccs-theme-dropdown {
  position: fixed;
  bottom: $spacing-05;
  left: $spacing-05;
  min-inline-size: 11.5rem;
}
