$infra-z-indexes: (
  popularSizeItemBar: 5,
  popularSizeItemText: 10,
);

@function zInfra($layer) {
  @if not map-has-key($infra-z-indexes, $layer) {
    @warn 'No layer found for `#{$layer}` in $infra-z-indexes map. Property omitted.';
  }

  @return map-get($infra-z-indexes, $layer);
}

// this forces all content in the carbon grid to be left aligned
.#{$ide-prefix}--content-alignment {
  margin-left: 0;
}
