@import './carbon';
@import './ibm-cloud-and-cognitive';

body {
  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  justify-content: flex-end;
  padding: $spacing-07;
}
