@import '@carbon/ibm-cloud-cognitive/css/index.min.css';

.ccs-theme-dropdown {
  position: fixed;
  bottom: $spacing-05;
  left: $spacing-05;
  min-width: 11.5rem;
}

.ccs-color-dropdown {
  position: fixed;
  top: $spacing-05;
  left: $spacing-05;
  min-width: 11.5rem;
}
