@import './carbon';

$pkg-prefix: 'txt' !default;
@import './ibm-cloud-and-cognitive';

#root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $ui-background;
  color: $text-01;
}
