$feature-flags: (
  grid-columns-16: true,
  enable-css-custom-properties: true,
);

// import vars and mixins not loaded without a carbon component scss file
@import 'carbon-components/scss/globals/scss/typography';
@import 'carbon-components/scss/globals/scss/helper-mixins';
@import 'carbon-components/scss/globals/scss/vars';
