@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/theme";

body {
  overflow-x: hidden;
}

.app.app {
  width: 100vw;
  min-height: 100vh;
  background-color: theme.$background;
  color: theme.$text-primary;
}

.app .app__container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  min-height: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.app .app__title {
  margin-top: spacing.$spacing-10;
}

.app .app__filter {
  margin-top: spacing.$spacing-07;
}

.app .app__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: spacing.$spacing-07;
}

$item-width: 320px;
$item-height: 240px;

.app .app__gallery-item {
  width: $item-width;
  height: $item-height;
  margin-bottom: spacing.$spacing-06;
}

.app .app__gallery-item--dummy {
  width: $item-width;
  height: 0;
  visibility: hidden;
}
