@import './carbon';

// $pkg-prefix: 'txt' !default;
@import './ibm-cloud-and-cognitive';

$prefix: 'story__';

body {
  background-color: $ui-background;
  color: $text-01;
}

.app {
  display: flex;
  justify-content: flex-end;
}

.app .main--content {
  display: flex;
  width: 100%;
  height: calc(100vh - #{$spacing-09});
  align-items: center;
  justify-content: center;
  margin-top: $spacing-09;
}

.app .#{$prefix}body-content {
  .#{$prefix}text-inputs {
    display: flex;
    margin: $spacing-05 0;
  }
  .#{$prefix}text-inputs #side-panel-story-text-input-a,
  .#{$prefix}text-inputs #side-panel-story-text-input-c {
    margin-right: $spacing-05;
  }
  .#{$prefix}text-area-container {
    position: relative;
  }
  .#{$prefix}text-area-container .#{$prefix}allowed-characters {
    @include carbon--type-style('label-01');

    position: absolute;
    right: 0;
    color: $text-02;
  }
  .#{$prefix}text-area-container .#{$prefix}allowed-characters-invalid {
    color: $support-01;
  }
  .#{$prefix}content-subtitle {
    margin: $spacing-05 0 $spacing-04;
  }
}
