@use '@carbon/react/scss/config';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

$block-class: 'full-page-example';
$preview-block-class: #{full-page-example}--create-full-page-sandbox;

.#{$preview-block-class} .#{full-page-example}--create-full-page__content {
  background-color: $background;
  color: $text-primary;
}

.#{$preview-block-class}__step-fieldset--no-label
  .#{config.$prefix}--fieldset
  legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.#{$preview-block-class} .bx--form-item {
  margin-bottom: $spacing-05;
  z-index: 99;
}
