@import '../carbon';
@import '@carbon/ibm-products/scss/index';

$preview-block-class: #{$pkg-prefix}--create-full-page-sandbox;

.#{$preview-block-class} .#{$pkg-prefix}--create-full-page__content {
  background-color: $ui-background;
  color: $text-01;
}

.#{$preview-block-class}__step-fieldset--no-label .bx--fieldset legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.#{$preview-block-class} .bx--form-item {
  margin-bottom: $spacing-05;
  z-index: 99;
}
