@import '../../global/styles/carbon-settings';
@import '../../global/styles/project-settings';

@import 'carbon-components/scss/components/modal/modal';
@import 'carbon-components/scss/components/file-uploader/file-uploader';
@import 'carbon-components/scss/components/text-input/text-input';
