@import '../../global/styles/carbon-settings';
@import '../../global/styles/project-settings';

@import 'carbon-components/scss/components/modal/modal';
@import 'carbon-components/scss/components/file-uploader/file-uploader';
@import 'carbon-components/scss/components/text-input/text-input';

.#{$prj-prefix}--input-group {
  display: flex;
}

.#{$prj-prefix}--import-button {
  margin-left: $spacing-05;
}

.#{$prj-prefix}--import-modal-label {
  margin-bottom: $spacing-03;
  @include carbon--type-style('productive-heading-01');
}

.#{$prj-prefix}--import-modal-helper-text {
  margin-top: $spacing-07;
  margin-bottom: $spacing-03;
  @include carbon--type-style('helper-text-01');
}

.#{$prj-prefix}--import-modal-body {
  margin-bottom: $spacing-05;
  padding-right: 20%;
}

.#{$prj-prefix}--import-modal .bx--modal-container {
  background: $ui-background;
}

.#{$prj-prefix}--import-modal .bx--modal-content {
  padding-right: $spacing-05;
}

.#{$prj-prefix}--import-modal .bx--file__selected-file {
  max-width: none;
  background: $ui-01;
}

.#{$prj-prefix}--import-modal .bx--text-input {
  background: $ui-01;
}
