@use '@carbon/ibm-products/scss/config';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

#ibm-products-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

$block-class: #{config.$pkg-prefix}--create-side-panel;
$story-prefix: create-side-panel-stories__;

.#{$story-prefix}example-container {
  display: grid;
  align-items: flex-end;
  grid-gap: $spacing-04;
  grid-template-columns: 1fr 1fr;
}

.#{$story-prefix}example-form-group .#{config.$carbon-prefix}--label {
  margin-bottom: 0;
}

.#{$block-class} .#{config.$carbon-prefix}--number__control-btn::before,
.#{$block-class} .#{config.$carbon-prefix}--number__control-btn::after {
  background-color: $field-02;
}
