// set prefix prior to importing from SCSS index file

@import '@carbon/ibm-cloud-cognitive/scss/components/HTTPErrors/index';

.ccs-theme-dropdown {
  position: fixed;
  bottom: $spacing-05;
  left: $spacing-05;
  min-width: 11.5rem;
}

.ccs-theme-dropdown .bx--label {
  @include carbon--type-style('label-01');
}
