@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/config';

.container {
  width: 80vw;
  min-width: 16rem;
}

.container .#{config.$prefix}--fieldset.recovery-location {
  margin: $spacing-06 0;
}

.container .recovery-location__button {
  margin-top: $spacing-04;
}

.container .threshold-tile {
  margin-top: $spacing-04;
  background-color: $layer-02;
}
