@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/config";

.container {
  width: 80vw;
  min-width: 16rem;
}

.#{config.$prefix}--fieldset.recovery-location {
  margin: spacing.$spacing-06 0;
}

.recovery-location__button {
  margin-top: spacing.$spacing-04;
}

.threshold-tile {
  margin-top: spacing.$spacing-04;
  background-color: theme.$layer-02;
}
