@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/config';
@use '@carbon/react/scss/type';

.main--content {
  display: flex;
  width: 100%;
  height: calc(100vh - #{spacing.$spacing-09});
  align-items: center;
  justify-content: center;
  margin-top: spacing.$spacing-09;
}

.#{config.$prefix}body-content {
  .#{config.$prefix}text-inputs {
    display: flex;
    margin: spacing.$spacing-05 0;
  }
  .#{config.$prefix}text-inputs #side-panel-story-text-input-a,
  .#{config.$prefix}text-inputs #side-panel-story-text-input-c {
    margin-right: spacing.$spacing-05;
  }
  .#{config.$prefix}text-area-container {
    position: relative;
  }
  .#{config.$prefix}text-area-container .#{config.$prefix}allowed-characters {
    @include type.type-style('label-01');

    position: absolute;
    right: 0;
    color: theme.$text-secondary;
  }
  .#{config.$prefix}text-area-container
    .#{config.$prefix}allowed-characters-invalid {
    color: theme.$support-error;
  }
  .#{config.$prefix}content-subtitle {
    margin: spacing.$spacing-05 0 spacing.$spacing-04;
  }
}
