@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/config';

.main--content {
  display: flex;
  width: 100%;
  height: calc(100vh - #{$spacing-09});
  align-items: center;
  justify-content: center;
  margin-top: $spacing-09;
}

.#{config.$prefix}body-content {
  .#{config.$prefix}text-inputs {
    display: flex;
    margin: $spacing-05 0;
  }
  .#{config.$prefix}text-inputs #side-panel-story-text-input-a,
  .#{config.$prefix}text-inputs #side-panel-story-text-input-c {
    margin-right: $spacing-05;
  }
  .#{config.$prefix}text-area-container {
    position: relative;
  }
  .#{config.$prefix}text-area-container .#{config.$prefix}allowed-characters {
    @include type-style('label-01');

    position: absolute;
    right: 0;
    color: $text-secondary;
  }
  .#{config.$prefix}text-area-container
    .#{config.$prefix}allowed-characters-invalid {
    color: $support-error;
  }
  .#{config.$prefix}content-subtitle {
    margin: $spacing-05 0 $spacing-04;
  }
}
