@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/type';
@use '@carbon/react/scss/colors';

.main--content {
  width: 100%;
  margin-top: spacing.$spacing-09;
}

.main--content .example-terminal {
  @include type.type-style('code-02');

  padding: spacing.$spacing-05;
  // stylelint-disable-next-line carbon/theme-token-use
  color: colors.$gray-10;
}

.main--content .example-terminal p {
  @include type.type-style('body-short-01');

  padding-bottom: spacing.$spacing-07;
}
