@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/type' as *;

.main--content {
  width: 100%;
  margin-top: $spacing-09;
}

.main--content .example-terminal {
  @include type-style('code-02');

  padding: $spacing-05;
  // stylelint-disable-next-line carbon/theme-token-use
  color: $gray-10;
}

.main--content .example-terminal p {
  @include type-style('body-short-01');

  padding-bottom: $spacing-07;
}
