////
/// Getting Started module.
/// @group getting-started-module
/// @copyright IBM Security 2021
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/styles';

@import '../../../globals/border/index';

@import 'carbon-components/scss/globals/scss/helper-mixins';

@import '../../Component/mixins';
@import '../variables';

@import '../../../globals/motion/index';

@include security--component($name: #{$layout-modules__name}--getting-started) {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: $spacing-06 0 $spacing-07;
  background: $ui-05;
  color: $ui-background;

  &__primary-button,
  &__secondary-button {
    width: 100%;
  }

  &__secondary-button {
    color: $inverse-link;

    &:hover {
      background-color: $hover-secondary;
      color: $inverse-link;
    }
  }

  &__additional-info {
    padding: $spacing-05 0;
    margin-top: auto;
    @include carbon--type-style($name: body-long-01);
  }

  &__tertiary-button {
    z-index: 1;
    left: calc(-1 * #{$spacing-05});
    color: $inverse-link;

    &:hover {
      background-color: $hover-secondary;
      color: $inverse-link;
    }
  }

  &__illustration {
    display: block;
    max-width: 100%;
    margin: 0 auto auto;
  }
}
