name: Cancel # Reduces overall build times by cancelling incomplete jobs
on:
  workflow_run:
    workflows: ['CI']
    types:
      - requested

jobs:
  cancel:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel incomplete runs except the latest
        uses: styfle/cancel-workflow-action@3155a141048f8f89c06b4cdae32e7853e97536bc # cspell:disable-line
        with:
          all_but_latest: true
          workflow_id: ${{ github.event.workflow.id }}
