name: PR # Checks the PR title is of the correct format

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

  merge_group:
    types: [checks_requested]

jobs:
  main:
    name: validate title
    if: ${{ github.event_name != 'merge_group' }}
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v3.4.6 # cspell:disable-line
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check gallery
        run: |
          yarn update-gallery-config
          if [[ `git status --porcelain` ]]; then
            echo "Gallery config is up to date."
          else
            core.setFailed("The gallery is out of date, run `yarn update-gallery-config`");
          fi
