name: PR # Checks the PR title is of the correct format

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

  merge_group:
    types: [checks_requested]

jobs:
  validate_title:
    name: validate title
    if: ${{ github.event_name != 'merge_group' }}
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@71b07ef490c9e8ef772f64a62d41545ae5b9ef22 # cspell:disable-line
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
