# Publish canary release to NPM
name: Release - canary

# This workflow is triggered every time a change is pushed to the
# `main` branch
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-canary:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: '0'
      # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
      - run: |
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git config user.name $GITHUB_ACTOR

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '22.x'
          registry-url: https://registry.npmjs.org
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Continuous integration check (includes build)
        run: yarn ci-check

      - name: Set NPM token
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.CARBON_BOT_NPM_TOKEN }}" >> .npmrc

      # Publish release with canary tag to NPM using Lerna
      - name: Publish canary release of packages
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_LERNA }}
          NODE_AUTH_TOKEN: ${{ secrets.CARBON_BOT_NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
        run: |
          yarn lerna publish --canary --preid canary --dist-tag canary --yes