name: Upgrade example dependencies # Update dependencies in test examples

on:
  workflow_dispatch:
  # schedule:
  # - cron: '30 4 * * TUE' # Release every Tuesday at 4:30am EST

jobs:
  Release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # https://github.com/actions/checkout/issues/217
          token: ${{ secrets.GH_TOKEN_LERNA }} # https://github.com/lerna/lerna/issues/1957
          ref: 'main'

      # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
      - run: |
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git config user.name $GITHUB_ACTOR

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20.x'
          registry-url: https://registry.npmjs.org
          cache: yarn

      - name: Install
        run: yarn

      # If this works it could be added to the end of the release
      - name: UpgradeExamples
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_LERNA }}
          NODE_AUTH_TOKEN: ${{ secrets.CARBON_BOT_NPM_TOKEN }}
        run: |
          yarn upgrade:dependencies:examples
          git commit -m 'chore: update example versions'
          git push https://$GH_TOKEN@github.com/carbon-design-system/ibm-cloud-cognitive.git
