name: Update example gallery # Updates examples once a month

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 15 * *' # At 12:00 AM, on day 15 of the month

jobs:
  check_gallery:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20.x'
          cache: yarn

      - name: Cache dependencies
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # 4.2.4
        with:
          path: '**/node_modules'
          key: check-gallery-${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install
        run: yarn

      - name: Generate token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a #v2.1.0
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Check gallery
        id: up_to_date
        run: |
          yarn update-gallery-config
          if [[ `git status --porcelain` ]]; then
            echo "::error ::The gallery is out of date, run yarn update-gallery-config"
            echo "The following items are out of date."
            git status --porcelain
            exit 1
          else
            echo "Gallery is up-to-date"
            exit 0
          fi

      - name: Create pull request
        if: failure() && steps.up_to_date.outcome == 'failure'
        id: create-pr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ secrets.generate_token.outputs.token }}
          commit-message: 'chore: update example gallery'
          committer: GitHub <noreply@github.com>
          author:
            ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: 'update-examples'
          branch-suffix: random
          title: 'chore: update example gallery'
          body: |
            This PR was automatically generated to update provided examples.
            The goal is to keep our examples up-to-date with the latest changes from our own package.

            #### What did you change?

            This action ran `yarn update-gallery-config` to update examples as necessary.

            #### How did you test and verify your work?

            This PR should only be merged reviewing the following checks:
            - [ ] `yarn ci-check` runs cleanly and all tests pass.
            - [ ] Storybook runs correctly in the Netlify deploy-preview.
              - [ ] Updated components render correctly in the examples section of Storybook.
