name: Update example gallery # Updates examples once a month

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 15 * *' # At 12:00 AM, on day 15 of the month

jobs:
  check_gallery:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Use Node.js version from .nvmrc
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Generate token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a #v2.1.0
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Check gallery
        id: up_to_date
        run: |
          yarn update-gallery-config
          if [[ `git status --porcelain` ]]; then
            echo "::error ::The gallery is out of date, run yarn update-gallery-config"
            echo "The following items are out of date."
            git status --porcelain
            exit 1
          else
            echo "Gallery is up-to-date"
            exit 0
          fi

      - name: Create pull request
        if: failure() && steps.up_to_date.outcome == 'failure'
        id: create-pr
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ secrets.generate_token.outputs.token }}
          commit-message: 'chore: update example gallery'
          committer: GitHub <noreply@github.com>
          author:
            ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: 'update-examples'
          branch-suffix: random
          title: 'chore: update example gallery'
          body: |
            This PR was automatically generated to update provided examples.
            The goal is to keep our examples up-to-date with the latest changes from our own package.

            #### What did you change?

            This action ran `yarn update-gallery-config` to update examples as necessary.

            #### How did you test and verify your work?

            This PR should only be merged reviewing the following checks:
            - [ ] `yarn ci-check` runs cleanly and all tests pass.
            - [ ] Storybook runs correctly in the Netlify deploy-preview.
              - [ ] Updated components render correctly in the examples section of Storybook.
